[2011-01-28 16:49] andrewxhill opened #1 "Rename Dan's mammal layers with internal IDs"
The pipeline will not accept spec names as file names as a means of dummy proofing the pipeline in the future, so need to rename SHP file before dumping them in

[2011-01-28 16:53] DanRosauer commented on #1
Hi there.  Can you explain this one Andrew?  The shapefile names were not species names but sequential ID numbers.  What should the preferred name format be?

[2011-01-28 16:55] andrewxhill opened #2 "GAE Metadata registration API"
The GAE App needs an API method exclusive to the remote to register new metadata about tile layers, at the same time the metadata object shipped by the tiling pipeline should be finalized.

[2011-01-28 16:57] andrewxhill opened #3 "GAE Range Map Exists API"
Simple API that returns metadata about a range map based on Species entity key or a not found code. Will need to include information about where tiles are etc. Based on data from the metadata registration method

[2011-01-28 16:59] andrewxhill commented on #3
We may want a more advanced, TileInfo api that gives info about what tiles exist for an species within a bounding box at some zoom, maybeeee

[2011-01-28 17:02] andrewxhill commented on #1
Hi Dan, this is actually an Issue for myself. Your IDs will be great for use, but I just need to write a script to convert them to our internal id's for use in our pipeline. We did it this way so that in the future it isn't so easy to mess up existing data with an erroneous name/id. The pipeline is designed to be computer usable not human usable, we will create a different layer for the system tha

[2011-01-28 17:05] andrewxhill commented on #1
Also: Our internal id's are _essentially_ GUIDs, like I was mentioning last week. They are too unwieldy for human consumption. E.g.

agdtb2wtbGFicjsLEgdTcGVjaWVzIi5hbmltYWxpYS9pbmZyYXNwZWNpZXMvYWJlZHVzX2hlcmJlcnRpX2hlcmJlcnRpDA

is

Abedus herberti herberti

[2011-01-28 17:27] andrewxhill opened #4 "Dig into COL for potential error"
See 'concolor' col search result 7
deus concolor, is that right?

Also, while at it, get Dan the column names from COL where we got synonyms

[2011-01-28 17:27] eightysteele opened #5 "Search UI improvements"
Search improvements for the following UI:

http://prototype.mol-lab.appspot.com/search
1. Add a search result total record count
2. <del>Have a better page for 'no search results'</del>
3. Synonyms CSV column can be total overload
4. Add advanced search
5. <del>Browser forward/back support for results</del>
6. Sort by columns
7. <del>Choose number of results per page</del>
8. <del>Checkbox for ret

[2011-01-28 17:58] andrewxhill opened #6 "Content for MOL Vision Page"
There should be a page nicely outlining the big vision of MOL in laymen terms and nice figures, here, http://mol.colorado.edu/
I need stuff for that

[2011-01-28 18:15] andrewxhill opened #7 "Taskqueue new layer cleanup"
SHP/SHX/Etc for an id should be cleaned up following a run

removed from the watched folder
put in the permanent home of shp data, what can become our ftp directory down the road
or, put in an error bin for later review

Error data should be stored someplace as well, open a new ticket if you think necessary.

[2011-01-28 18:17] andrewxhill opened #8 "GAE storage of remote errors"
In the taskqueue new layer pipeline, if errors are generated we don't do anything with them. We have a couple of options,
1. write them to a file to be stored with the original data in the errors directory
2. store them in some db on the remote
3. ship them back to GAE

[2011-01-28 18:17] andrewxhill commented on #8
I'm personally in favor of #3

[2011-01-28 18:20] andrewxhill commented on #8
We could store it in the same metadata storage? If that is the case than if a {id}.shp is added to the watched directory any existing /tiles/{id} dir should be dropped and the metadata should be overwritten with the error in the case of an error (e.g. if we are trying to fully replace a layer with a new shp file)

[2011-01-29 18:58] eightysteele commented on #2
So I think we have these APIs in place: The MOL app running on App Engine supports registering and updating layer metadata via the REST API at '/api/layer/update'. The taskqueue running on the Colorado server hits the API with new layer metadata that are detected when it scans for new layers via the '/api/scan' REST API.

Are we missing anything in the metadata object being shipped? Currently we h

[2011-01-29 19:17] andrewxhill commented on #2
I was working on parts of it kinda mid of your code refactoring sesh so I just couldn't remember. Awesome though, I think this is all good then.

[2011-01-29 19:40] eightysteele commented on #2
Sweeeeeet.

[2011-01-30 03:17] #2 closed, assigned to nobody

[2011-01-31 14:46] eightysteele commented on #7
I've started work on this. Here's the latest (in progress):
https://github.com/andrewxhill/MOL/commit/bd3d98a038c712000a778976ef105e5625fd7b9a

[2011-01-31 17:25] andrewxhill commented on #4
In answer to Dan's questions,
see here,
https://github.com/andrewxhill/MOL/blob/modularize/colapp/colexport/mysql_export.py

Common names are pulled from the 'common_names' table, line 86
Synonyms are taken from 'scientific_names' based on 'is_accepted_name', line 100

Have you noticed others that I'm missing in COL?

[2011-01-31 17:47] andrewxhill commented on #4
blarg latin1 strikes again,
https://docs.google.com/leaf?id=0B3T0pFRIJS26MWRlOTdiZWItYTJlZC00ODRlLThmZmItMjVkOTJmYTI4NWY5&hl=en&authkey=COyP8dEH

[2011-01-31 17:57] eightysteele commented on #7
Added some unit testing for Layer.cleanup():
https://github.com/andrewxhill/MOL/commit/13901f50d25eacb9bcebf2d8d09b227cfc5c6dcb

Also cleanup up the remote filesystem organization a bit:
https://github.com/andrewxhill/MOL/commit/e64d10f283c5f8aeebb2c17db108c7040382de82

[2011-01-31 18:18] andrewxhill commented on #4
So it doesn't appear to be a data loading issue, and a representation of the character is still on gae, but seems to break at the browser. this particular issue is fin

[2011-01-31 20:04] eightysteele commented on #4
+1

[2011-02-01 02:18] #4 closed, assigned to nobody

[2011-02-01 13:57] eightysteele commented on #3
I've started work on this issue. Basically I'm creating a single LayerHandler for GET and PUT requests with the following API. I'm open to any changes so let me know.

To get a layer resource:

GET /layers/species_id HTTP/1.1
Host: mol-lab.appspot.com

To create a new layer resource:

PUT /layers/new_species_id HTTP/1.1
Host: mol-lab.appspot.com

To update an existing layer resource:

PUT /layers/

[2011-02-01 13:58] eightysteele commented on #3
@andrewxhill: Are you thinking advanced TileInfo API for prototype or down the line?

[2011-02-02 04:43] eightysteele commented on #3
My latest work on this issue has been pushed and is ready for review. See LayersHandler on line 251 for relevant code:
https://github.com/andrewxhill/MOL/blob/modularize/app/mol/api/__init__.py

I added support for listing all layer resources:
GET /layers HTTP/1.1

Also the layers app has also been updated to hit the new layers API:
https://github.com/andrewxhill/MOL/blob/modularize/layers/layers/

[2011-02-02 04:44] eightysteele commented on #7
This stuff is ready for review. Changing issue status from 'Status-Started' to 'Status-InReview'.

[2011-02-02 11:56] eightysteele commented on #8
Starting work on this issue. I'm in favor of option 3.

[2011-02-02 15:48] andrewxhill commented on #3
LayerHandler is looking really good. We should talk a bit about GeoPts, layer type categories, layer format (shp, tile, raster), and tile/layer versioning for some layer types

[2011-02-02 16:56] andrewxhill commented on #3
Ok, so GeoPts are pretty flexible for search methods, so happy there.

We should use TileSetIndex.type = db.Category("Expert")

We should propose a staging of tile edits to the groups,
TileSetIndex.status = db.Category("Proposed")

TSI.errors = db.StringListProperty() where strings are JSON "{'kind':str, 'message':str}"

[2011-02-02 17:00] andrewxhill commented on #8
agreed, #3 is the best way to go, we are really using GAE as the app controller, so would make sense for errors to be there

[2011-02-02 17:01] eightysteele commented on #8
Per our chat:

TileSetIndex.errors = db.StringListProperty() where strings are JSON "{'kind':str, 'message':str}"

[2011-02-02 17:06] andrewxhill opened #9 "Tile service with redirect for tiles only on remote"
We have reviewed the tile service method options, and feel that for MOL interoperability with other projects, we can't be shipping idiosyncratic tile location mapping json, but instead just have one service that will get them the png.

So
1. Request comes to GAE for tile ABC
2. GAE checks that ABC is even within the BBox range of the species
   3a. If No, GAE says returns a not found status code

[2011-02-02 17:13] andrewxhill opened #10 "GeoCommons demo of how data sources will be combined with MOL for EOL"
Aaron and I were thinking that the time between our Feb 11th and the EOL demo, we aren't going to be able to deliver any really compelling UI. It is just out of scope for what we have done. What we can deliver is a good set of base data, a compelling story about our technology decisions, and a vision for the future.

GeoCommons, geocommons.com, provides a very nice UI for combining external source

[2011-02-02 23:16] eightysteele commented on #9
I've started work on this issue.

[2011-02-03 03:43] tucotuco commented on #10
+1

[2011-02-03 11:16] andrewxhill commented on #1
Aaron, should we be naming the shp files by the Species kind key or the SpeciesIndex kind key?

[2011-02-03 11:48] andrewxhill commented on #1
i'm reloading the data into the datastore so that i can query by orig authority id,

method, http://sandbox.latest.mol-lab.appspot.com/api/findid/COL/7223382

we'll see if this really works

[2011-02-03 12:03] andrewxhill commented on #1
using google refine, pretty slick. Took dan's spreadsheet with COL Ids, turned the IDs into columns with urls that look like those in my last comment. Then simple I'm running, 'Add Column' -> 'Add Column by Fetching URLs', so nice. And tada, I should have internal keys. will finish and close if no problems.

[2011-02-03 15:25] andrewxhill opened #11 "Add authorityIdentifier to the SpeciesIndex entity"
We completed the bulkload with an authorityName but didn't keep track of the authorities internal IDs. My last edit of the model I added a type for authorityName, but we need to now load that data.

I'm working on this.

[2011-02-04 02:55] eightysteele commented on #9
I just pushed. See the LayersTileHandler class starting on line 261:
https://github.com/andrewxhill/MOL/blob/modularize/app/mol/api/__init__.py

Here's the REST API for layer tile resources:
GET /layers/species_id.png?x=5&y=3&z=4

Instead of redirecting, the API attempts to return the tile using the following process (assuming species_id, x, y, and z parameters are all valid and within bounds -- o

[2011-02-04 02:56] eightysteele commented on #9
Changed status from Status-Started to Status-Review.

[2011-02-04 05:43] eightysteele commented on #8
Here's the latest:
https://github.com/andrewxhill/MOL/commit/0de052bf6e0e714c80d6762ed1ff3052a36ff732

Changed issue status from Status-Started to Status-Review.

[2011-02-04 05:57] eightysteele commented on #3
Added type and status properties to TileSetIndex. The Layer class in /layers is modified with new type (default 'expert') and status (default 'accepted') properties. All has been pushed:

https://github.com/andrewxhill/MOL/commit/2e58d311dee7cf0bb8e8b89d5db2690fc0f7a08f

[2011-02-08 11:33] andrewxhill commented on #1
Okay, so I've created an api method /api/findid. It works like this
/api/findid/COL/6905991
would return the MOL ID for the AuthorityName = COL and AuthorityID = 6905991
At first I was using the datastore keys, but following Aaron's suggestion have changed to key_name for internal ids. I see a small issue with this if we ever use two authorities that recognize the same species name for different a

[2011-02-08 14:07] eightysteele opened #12 "Change species id from entity key to key name"
Currently we use Species entity keys for species ID which is kind of long, especially in URLs:
agZnZW8tZHNyDwsSBENlbGwiBTQtMC0wDA...

Change it to use Species key names like 'animalia/species/baetodes_noventus'. This approach has a few issues in terms of filenames and URLS that can be worked around.

[2011-02-08 14:09] DanRosauer commented on #1
For accepted names of vertebrates we will be fine.  The committee that looks after vertebrate names ensures that there are no duplicates.  May not be the case for synonyms.

But once we branch out to other groups there could well be duplicates.  For example there are definitely genus names which are used in both plants and insects.  So the ideal would be to make it robust to that.

[2011-02-08 14:39] eightysteele opened #13 "Map tile handler implementation on remote server"
App Engine proxies map tile requests and will download them on-demand from the remote server if not cached or datastored, so we need a map tile handler implementation on the remote server.

I'm starting work on this issue now.

[2011-02-08 16:17] andrewxhill commented on #1
Ok, so right now it is looking okayyyyyy, since our key names include Animalia in them so no conflict with plants when we start loading them. some groups we might want to consider more refined level info.

[2011-02-08 16:19] DanRosauer commented on #1
A good solution.  I'm still trying to remember if there could be any duplication between verts and inverts within animalia.  But if so including another higher taxon would solve it.

[2011-02-08 22:09] #1 closed, assigned to nobody

[2011-02-09 00:52] eightysteele commented on #13
Pushed the tile service:
https://github.com/andrewxhill/MOL/commit/d33a7250821da627ebe867ad52e8a21771e99412

Added regular expressions for URL params:
https://github.com/andrewxhill/MOL/commit/54eaf0bc2e4fb648ec13818940ba480106899f9c

Changing issue label from Status-Started to Status-Review.

[2011-02-09 02:45] eightysteele commented on #9
I'm considering an API change from:

GET /layers/species_id.png?x=5&y=3&z=4

to:

GET /layers/species_id/tiles/zoom/x/y.png

Thoughts?

[2011-02-09 08:15] andrewxhill commented on #9
+1 go for it.

[2011-02-09 12:55] andrewxhill opened #14 "Internal ID structure"
I was thinking on the current key structure animalia/rank/value and decided I like it. We can easily mix the first variable with higher level classifications for some groups. I also like the use of the slash. The problem arose in that the slash could conflict with url and static files. But actually, maybe we can use it to our advantage and integrate it into our file storage and URL designs? So if

[2011-02-09 12:56] andrewxhill commented on #8
This looks good to me. Closing

[2011-02-09 12:59] andrewxhill commented on #13
This also looks good. It appears that if we use the key_name for our internal ids
animalia/species/abditomys_latiden
that using them to also mean directories within the remote service, line 37 of api, will work fine.

If that is good, I think this is ready to close.

[2011-02-09 13:02] andrewxhill commented on #11
Done.

[2011-02-09 13:04] andrewxhill commented on #12
This is done as far as I can tell. 5 minutes ago I thought it would work well, but now I'm a bit on the fence again.
so a url like
/tiles/animalia/species/baetodes_noventus/x/y.png
on the remote server is okay? Sure it can work, but is it what we want?
If yes, close it up.

[2011-02-09 13:06] andrewxhill commented on #3
great, i think close! we can expand the layer type vocabulary at a later date.

[2011-02-09 13:08] andrewxhill commented on #7
Again, if I'm using the keys literally to mean directories and then a file
animalia/species/baetodes_noventus.shp
does that appear to affect this pipeline portion?
I'm fairly sure that the isdir and isfile checks are done after parsing out the components of the string, so i think no prob right?

[2011-02-09 13:51] andrewxhill commented on #1
I've added a 'rename.sh' file to the IUCN_mammals_polys.zip archive. It will actually rename and move all files according to the spreadsheet provided by Dan. The files that remain in the shp_google folder are those that have not been dealt with yet.

[2011-02-09 16:05] eightysteele commented on #14
Yeah, I was thinking the _exact_ same thing. A big +1 all around.

[2011-02-09 16:06] eightysteele commented on #8
+1

[2011-02-09 16:10] eightysteele commented on #13
Excellent. Let's keep it open until I mod it to support the new key_name architecture.

[2011-02-09 16:20] eightysteele commented on #3
+1

[2011-02-09 16:21] eightysteele commented on #7
Yeah, I'll review and see what's up here.

[2011-02-09 16:35] eightysteele opened #15 "Wiki page for high level technical architecture"
Title says it all.

[2011-02-09 20:56] #8 closed, assigned to nobody

[2011-02-09 21:02] #11 closed, assigned to nobody

[2011-02-09 21:06] #3 closed, assigned to nobody

[2011-02-10 04:15] eightysteele commented on #12
Totally. Your stuff is golden. I just pushed changes to app (mol.api) and layers (mol.service and taskqueue) and now all APIs are using the new key_name.

Yeah, hmmm, what don't you like about it? Right now that's how it's working and I'm cool with it unless you're thinking a mod is better. I'm totally open so either way works for me.

Changing issue label to Status-Review

[2011-02-10 04:19] eightysteele commented on #13
Tile service has been updated to use the new key_name architecture. Closing issue.

[2011-02-10 04:19] #13 closed, assigned to nobody

[2011-02-10 04:21] eightysteele commented on #9
Ha, well, for now keeping it as:

GET /layers/species_id.png?x=5&y=3&z=4

The API is updated to use new key_name architecture. Closing issue.

[2011-02-10 04:21] eightysteele commented on #9
I'm really closing it this time.

[2011-02-10 04:22] eightysteele commented on #11
+1

[2011-02-10 04:22] eightysteele commented on #1
+1

[2011-02-10 04:24] eightysteele commented on #7
Layer.cleanup function is modified to work with the new key_name architecture. Changes pushed. Closing issue.

[2011-02-10 04:24] #7 closed, assigned to nobody

[2011-02-10 05:42] eightysteele commented on #15
I started the wiki page:
https://github.com/andrewxhill/MOL/wiki/High-Level-Technical-Architecture

It's definitely not done yet, but comments are totally welcome. I'm changing issue label to Status-Started.

[2011-02-10 07:35] andrewxhill commented on #12
Yeah, it is going to work and I don't have any problems jumping to mind. I think this is good to close.

[2011-02-10 07:35] #12 closed, assigned to nobody

[2011-02-10 07:37] andrewxhill commented on #9
GET /layers/species_id.png?x=5&y=3&z=4

Why did it stay like that? I can dig into fixing that after class today.

[2011-02-10 07:39] andrewxhill commented on #14
Seems like this has rippled through all the appropriate Issues. Done

[2011-02-10 07:39] #14 closed, assigned to nobody

[2011-02-10 07:48] andrewxhill opened #16 "Activate remote Git checkout hook"
http://toroid.org/ams/git-website-howto?utm_source=twitterfeed&utm_medium=twitter

[2011-02-10 12:21] #9 closed, assigned to nobody

[2011-02-10 14:50] eightysteele commented on #9
Well, I started to re-like it again. But if we think that it's better changed, no problem. I can make the change along with some stuff I'm pushing later?

[2011-02-12 04:14] DanRosauer opened #17 "Metadata for range maps"
Today we talked about the format and delivery of metadata to go with range maps.  Here are some thoughts to get the ball rolling.

The current range maps are all from IUCN, with a couple of trivial processing steps before upload to MoL.  So the metadata is essentially theirs, and most of it [applies to the dataset](http://www.iucnredlist.org/spatial-data/2010.4/GISData/RLSpatial_metadata_Oct2010.p

[2011-02-12 04:26] tucotuco commented on #17
What do we actually want to do with metadata, aside from augment it with processing information and view it? If nothing more, why not limit data store metadata information to a set of URLs containing the actual metadata?

[2011-02-14 03:02] eightysteele commented on #17
Yeah, that could work pretty well. Metadata could be managed and collaborated on in a Google Spreadsheet. A cron job could then programatically export and load it to the datastore.

Another approach might be a [YAML](http://en.wikipedia.org/wiki/YAML) metadata file that gets uploaded with each range map shapefile, but managing 10,000 such files might get kind of annoying?

[2011-02-14 03:08] eightysteele commented on #17
Well, in our high level requirements doc we listed some metadata use cases:
    1. Model data inputs are stored as a snapshot
    2. Model parameters and software versions are recorded
    3. A user can add notes about the record vetting process that should be stored alongside any automatically generated notes from methods contained in the MOL interface (i.e. a tool where a user could say somethin

[2011-02-14 14:09] eightysteele commented on #5
Just pushed code for better 'no search results' (item 2) and browser history support (item 5):
https://github.com/andrewxhill/MOL/commit/7c1278c701857e7bcd82a432b009776eb48db4b3

Changing issue label to Status-Started.

[2011-02-14 20:04] DanRosauer opened #18 "Mega denormalization"
This is more a discussion than an issue, but I'll be interested in responses

I just processed the IUCN Amphibia range maps for 6188 species in preparation for upload to MoL.  One shapefile (7 files on disk) became 6188 shapefiles (43,316 files on disk).

Soon we'll do the same for the species lists by defined regions, turning 1 shapefile and a list into a large number of shapefiles.  There will b

[2011-02-15 12:37] andrewxhill opened #19 "MOL is a 'No Templating Zone'"
just a note for future devs

[2011-02-15 12:38] andrewxhill opened #20 "Remove 'COL' from internal code"
Because our internal taxonomy will not be COL indefinitely, we are going to work to not call it COL internally.

[2011-02-15 14:16] robgur commented on #17
I don't think we should view metadata as means to "recreate the map".  Instead, we want to think of it as basically contextual and archival metadata.  archival metadata includes fields such as author of the data, the time and date of data creation or assembly,  and data ownership and/or custodianship.   Contextual metadata would include the purpose for which the data were collected, the standards

[2011-02-16 04:17] eightysteele commented on #19
+1

[2011-02-16 04:18] eightysteele commented on #20
+1

Just pushed code that changes /col/search to /search and renames Handlers without COL references. I think app stuff is looking good, not sure about layers though.

[2011-02-16 14:56] andrewxhill commented on #15
Not done for sure, but not bad enough to warrant an issue still. It will grow. Closing.

[2011-02-16 14:56] #15 closed, assigned to nobody

[2011-02-16 15:03] andrewxhill opened #21 "Range size aware tiling jobs"
Basically, we will be tiling a small set of zoom layers for each range map. If the range is very small, there is no point in tiling at zoom level 0. Instead we will tile at a higher zoom level.

To do this we need.
1. TileSetIndex zoom property to zoomMin and zoomMax
2. Update Create tile metadata method to track zoomMin and zoomMax
3. Update app_globals to have a MIN_ZOOM_LEVELS = 5 instead of TI

[2011-02-16 15:26] andrewxhill opened #22 "Layer extents from pipeline are incorrect. Far too large in some cases"
metadata,
http://prototype.mol-lab.appspot.com/api/tile/metadata/animalia/species/abrocoma_boliviensis
map,
http://prototype.mol-lab.appspot.com/rangemap/animalia/species/abrocoma_boliviensis
ogrinfo, 900913
Extent: (-7189398.878958, -2029428.469581) - (-7175357.208820, -2023017.151639)

[2011-02-16 15:32] andrewxhill commented on #18
I think the idea here is right, but it is not quite time for it yet. As we start to handle, for example, inventories for defined areas, then yes, this will work fine. We should curate those areas, or point to external curation, to minimize replication. But with the range maps, I fear that the goal of the project is that each range is in an independent state of flux, making denorm. very tough. Happ

[2011-02-16 15:53] andrewxhill opened #23 "Debug ghost tiles issue"
Mapnik is not creating tiles at some zoom levels. Usually in clear cases where the tiles were created at a lesser zoom. Very weird, I'm leaning toward it having some of the same causes as the incorrect zoom extent issues.

[2011-02-16 15:55] andrewxhill opened #24 "Process amphibian layers"
No one created an issue for this last week, so it has been a bit overlooked. I think it is less priority than some of the other issues we have opened. In a nutshell, the pipeline works pretty sweet, so we know in most cases it should be a matter of dropping them in to get them tiled and registered with the website. However, we have a couple of bugs and optimizations still to work on in the pipelin

[2011-02-16 16:29] DanRosauer commented on #18
Makes sense.

Actually, on reflection there are two separate issues in this.

1) how we store the spatial data.
This is the question of (for example) having 1 shapefile including polygons for 4000 species v 4000 single species shapefiles.
It's awesome that the pipeline is working for the single species, so lets not mess with that.  But we may want to add an extra stage so that our tools do the wor

[2011-02-16 16:54] eightysteele opened #25 "Search UI is wonky in Firefox"
Search puma concolor. Check error console:

Error: Missing query for request id: 0
Source File: http://www.google.com/uds/api/visualization/1.0/936cfcda71578b85cbc8c980474192bf/default,table.I.js
Line: 259

Also browser history support not working.

[2011-02-16 16:58] eightysteele opened #26 "Searching for Chinese characters shows no results"
杂色豆娘鱼 should have a result. It doesn't. Need to check what's going on.

[2011-02-17 11:16] andrewxhill opened #27 "Complete ValidKey handshake for GAE and Remote"
Wrote the method into GAE this morning, need to finish the validation step in the Layer processing method of remote.

[2011-02-18 15:45] DanRosauer commented on #24
The amphibian range maps and taxonomy are now ready to load.

The matching of the rangemap binomials to CoL is really good - 97% match to CoL taxonomy + synonyms

[2011-02-18 15:50] DanRosauer opened #28 "Rangemap - taxonomy match process"
After doing this process for the mammals and amphibians, here are a few thoughts about refining the process:
- I could be naming the shapefiles with their CoL binomial in future.  Is there any advantage to giving them arbitrary names if Andrew has to immediately rename them based on the taxon table I provide with them.
- I'm creating SQL code to run against my local instance of CoL to do the taxon

[2011-02-18 17:34] DanRosauer commented on #5
- How about option to choose number of results per page?  I was finding the 10 per page a bit small.
- Specify search term more precisely - eg starts with - so 'Rattus' wouldn't return Aphoebantus rattus

[2011-02-18 19:36] eightysteele commented on #5
I just pushed code that adds a checkbox to the search UI (item 8) for returning only species wit a range map. It's deployed to the prototype:

http://prototype.mol-lab.appspot.com/search

So like we talked about in our Friday meeting we probably don't want to spend too much more time refining the prototype since we haven't formally started thinking about our approach to UI stuff. Do we think the p

[2011-02-18 22:36] eightysteele commented on #25
Pushed code that fixes this maaaaybe. Basically the history.pushState object isn't a function in the Firefox JS environment. Deployed to prototype for review:

http://prototype.mol-lab.appspot.com/search

Changing issue label to Status-Review.

[2011-02-20 13:12] eightysteele commented on #25
Ok, just pushed code that fixed an issue with Firefox not loading results when using the browser forward/back button:

https://github.com/andrewxhill/MOL/commit/c7d6c78f63c5a527382348eb4471947545faaf23

The changes are deployed to prototype for review:

http://prototype.mol-lab.appspot.com/search

Walter, looking good on your end?

[2011-02-20 13:25] eightysteele commented on #20
Done. Closing.

[2011-02-20 13:25] #20 closed, assigned to nobody

[2011-02-21 19:32] andrewxhill opened #29 "Rewrite internal keynames"
Current keynames rely on animalia uniqueness, it works for getting things rolling, but we are now going to use more refined keynames following work on amphibians

[2011-02-22 01:19] eightysteele opened #30 "Refactor prototype UI code using Backbone and JQuery"
Outcome of technical architecture discussion with Sander, Andrew, and Dan during Boulder hackfest.

http://documentcloud.github.com/backbone

http://jquery.com

[2011-02-22 21:34] andrewxhill opened #31 "After many thousands of layers are processed back to back, pipeline needs a reboot."
Not sure what to do yet, all else is fine.

[2011-02-23 17:00] andrewxhill opened #32 "LayerIndex, TileSetIndex"
I'm thinking we might rename TileSetIndex, but more importantly extend the properties with,

Source
Author
Resolution #we need to start thinking about this term and how to record it. I'm thinking here, what scale MOL recommends the layer be used. Could be categorical or numerical.

others? For those less familiar, this is what search will use and this also reflects the important bits of metadata w

[2011-03-03 14:56] andrewxhill commented on #22
These appear to be fixed now.

[2011-03-03 14:56] #22 closed, assigned to nobody

[2011-03-03 14:56] andrewxhill commented on #24
Layers have all been processed once. I'm rerunning all of them today in the new pipeline framework. Closing.

[2011-03-03 14:56] #24 closed, assigned to nobody

[2011-03-03 14:57] andrewxhill commented on #19
resolved and closed

[2011-03-03 14:57] #19 closed, assigned to nobody

[2011-03-03 14:59] andrewxhill commented on #27
This is the 'isidvalid' method for the Layer class in cando app

[2011-03-03 14:59] #27 closed, assigned to nobody

[2011-03-03 15:00] andrewxhill commented on #31
moved pipeline from Pylons to Celery primarily because this issue exposed a problem when using an http app server for a pipeline/taskqueue management system. If the same problem arises in Celery it will be for different reasons. Closing.

[2011-03-03 15:00] #31 closed, assigned to nobody

[2011-03-04 22:40] andrewxhill opened #33 "move backend server to better machine"
the old machine was a 4ghz single core hand me down. I'm moving everything to a more powerful machine with greater space and speed to take advantage of.

[2011-03-06 15:23] andrewxhill commented on #23
Amazing. I've moved the entire backend onto a newer, nicer, server. It seems to have cleared up the ghost tile issues. _seems_. I have only done mammals so far, no amphibia repopulated until tomorrow. Strange though, it seems to have brought back a non-transparent background in tiles....

[2011-03-06 23:01] eightysteele opened #34 "Mobify the UI"
Make sure the UI works on the mobile web (iOS, Android, etc):
http://www.html5rocks.com/mobile/mobifying.html

[2011-03-07 18:07] walterj opened #35 "MOL webpage - delete code section, dead links, simplify"
Now put by Dan on
http://www.yale.edu/mapoflife/indexNew.html
originally at http://mol.colorado.edu/.
# Please delete 'Code' section
# Keep 'Blog' section? Only if easy submissions by all are possible
# Create live (as opposed to current dead blog) link to one introduction page
# i.e. total of two pages that do work (front, background).
# How are updates done, and are they automatically applied to

[2011-03-07 18:48] DanRosauer commented on #35
The text on the home page under 'About MOL' is also in need of an update'.

Updates are manual.  I subscribe to the files via github and copy them across to publish the changes.

Blog updates are immediate because the blog is hosted on mol.colorado.edu and not mirrored.

[2011-03-07 19:43] andrewxhill commented on #33
Working well. need to debug the white background in tiles right now, strange

[2011-03-07 19:56] andrewxhill commented on #35
I'm happy to do all of these, but have been waiting for some content that Rob indicated that Walter and him would get to me. I'd like to know size of text etc before I do all the reshuffle of the front page to get rid of the coding section and then have to do it again when I get the front page text. Not to say that this web page is anything special, but making a web page look nice is one of those

[2011-03-07 21:47] tucotuco opened #36 "Synonym problem?"
Check out the synonyms listed for Acrocinus longimanus, first on the list for the following REST call:

search#q=Macropus&limit=10&offset=0&maps=false&tqx=true

Seems like a lot of spurious duplication there. Even if it is COL's fault, we should probably process that to unique values, as people will not see it as COL's fault, but ours.

[2011-03-07 21:56] eightysteele commented on #5
Just pushed code for the new UI architecture. You can choose the number of results per page by changing the _limit_ URL parameter. Crossing item 7 off the list of search improvements above. You can test it here:

http://unstable.mol-lab.appspot.com/search

[2011-03-07 22:00] eightysteele commented on #25
Just pushed the new UI architecture and Firefox issue is dissolved:

http://unstable.mol-lab.appspot.com/search

Closing this issue.

[2011-03-07 22:00] #25 closed, assigned to nobody

[2011-03-07 22:01] eightysteele commented on #30
Complete. Code pushed. Deployed here for review:

http://unstable.mol-lab.appspot.com/search

[2011-03-07 22:10] andrewxhill commented on #23
Ghost and transparent background issues are fixed as far as I can tell,
http://prototype.mol-lab.appspot.com/rangemap/animalia/species/artibeus_concolor

i'm rerunning mammals now and will reopen this issue if I find any issues.

[2011-03-07 22:10] #23 closed, assigned to nobody

[2011-03-08 03:43] #33 closed, assigned to nobody

[2011-03-08 03:50] andrewxhill commented on #36
jeepers. good catch. we'll run a map reduce over all of them to get rid of all dups.

[2011-03-08 03:53] andrewxhill commented on #30
looking good. mustache!

[2011-03-08 04:02] eightysteele commented on #30
Hell yeah! Grandpa loves the 'stache!

[2011-03-08 04:03] eightysteele commented on #30
Oh, still need to bake in the range map stuff into mol.js... in progress now.

[2011-03-08 05:49] eightysteele commented on #36
+1

[2011-03-08 05:51] eightysteele commented on #33
Long live the old machine. She was so good to us. Sniff sniff.

[2011-03-08 11:53] #30 closed, assigned to nobody

[2011-03-08 21:31] andrewxhill opened #37 "GBIF Point Data Workflow"
Aaron and I just had a chat to lay out some of the steps for point data. We are going to begin developing methods to display GBIF points on maps. Here are the steps for phase one

[code]

[2011-03-09 00:26] andrewxhill commented on #37
First draft API method is available now,
http://prototype.mol-lab.appspot.com/api/points/gbif/animalia/species/puma_concolor

If you use Chrome, I suggest you install the 'JSONView for Chrome' extension

[2011-03-09 00:40] andrewxhill commented on #37
right now the GbifDataHandler method replaces any uncertainty=0 with uncertainty=null (i.e. unknown) for the JSON response. makes sense to me, let me know if this is a bad idea.

[2011-03-09 14:02] walterj opened #38 "range maps don't display anymore in Firefox and IE"
http://prototype.mol-lab.appspot.com
Extent displays correctly, but no maps

[2011-03-09 14:46] eightysteele commented on #38
The latest code is deployed to the 'unstable' version here:

http://unstable.mol-lab.appspot.com/search

Are range maps displaying correctly from that link? If not, can you provide a link where you expect to see a map but do not?

[2011-03-09 15:02] DanRosauer commented on #36
I wonder if we should also restrict the search results to Chordata (vertebrates) for the time being so that users needn't wade through these results when searching for (in this case) a kangaroo.

----  on 2nd thoughts, perhaps the 'species with range maps' option is sufficient for now' ---

[2011-03-09 15:04] walterj commented on #38
E.g. Canadian toad (and other toads) does not display:
Anaxyrus hemiophrys

http://unstable.mol-lab.appspot.com/rangemap/animalia/species/anaxyrus_hemiophrys

[2011-03-09 15:04] #18 closed, assigned to nobody

[2011-03-09 15:09] walterj opened #39 "Point data visualization thoughts"
1. Taxa / synonyms. Show somewhere in window, or make available via click, all the names/synonyms that are being pulled in as points for a given species. Allow user to show different names (e.g. subspecies) in different color or to apply filter.
2. Different symbols/colors for points <1950, <1970, <2000
3. Circle size determined by spatial uncertainty
4. For points with unknown uncertainty for now

[2011-03-09 15:17] DanRosauer commented on #39
Great suggestions.  If this is all feasible, would be awesome.
- perhaps use a different symbol - eg triangle - for unknown uncertainty

[2011-03-09 15:40] andrewxhill commented on #38
Can you tell us how a mammal looks? I have been redoing layers now that I have fixed ghost tiles, the white background, and moved the system to a different computer. That means I haven't had a chance to repopulate the amphibians. I think the browser works fine.

[2011-03-09 15:41] andrewxhill commented on #36
Yeah, I think maybe we just keep it 'species with range maps', on by default

[2011-03-09 15:42] andrewxhill commented on #39
Yeah, these are great. I like the triangle thought a lot.

[2011-03-09 15:42] walterj commented on #38
Jaguar displays fine. Lack of data for amphibians would explain lack of maps. Not a browser issue.

[2011-03-09 15:42] #38 closed, assigned to nobody

[2011-03-09 15:57] tucotuco commented on #36
+1 to default

[2011-03-09 16:24] eightysteele commented on #37
John, does uncertainty = 0 have a different meaning than no uncertainty at all?

[2011-03-09 16:46] eightysteele commented on #39
@Walter: About item 7, I think this is perfect for GitHub issue instead of email.

[2011-03-09 16:53] DanRosauer commented on #39
Also we can define uncertainty based on significant digits in the coordinates in some pretty obvious ways..
- if a latitude has 1 decimal place, then it has an uncertainty of at least 0.05 degrees, and gets displayed accordingly.

[2011-03-09 17:30] tucotuco commented on #37
That GbifDataHandler method is the correct treatment. Uncertainty cannot be zero - any value given to GBIF as zero is an error (ha) and really means that the uncertainty is unknown and should therefore be better represented by a null, unless the client understands that zero means something special.

[2011-03-09 18:52] andrewxhill commented on #37
Went ahead and changed the GbifDataHandler to reflect a few comments from today's talk. Primarily, the default method returns a 'small' dataset, limited to only 1000 records max, only _with_ coordinates, and with minimal additional data fields for the records. I will code up a 'full' method in GbifDataHandler when the time comes that will parse a complete set no matter the size and give back more

[2011-03-09 19:01] eightysteele commented on #37
+1 all around.

[2011-03-09 19:50] eightysteele commented on #30
Done. Pushed and deployed:

http://unstable.mol-lab.appspot.com/search

[2011-03-09 21:47] andrewxhill commented on #37
Big change to the JSON standard and harvest method, not getting records from GBIF XML not KML,
http://prototype.mol-lab.appspot.com/api/points/gbif/animalia/species/puma_concolor
I've reduced the max records by default to 200 for now.

[2011-03-10 09:49] walterj opened #40 "White boxes in map for some species"
E.g. http://unstable.mol-lab.appspot.com/map/animalia/species/arctogalidia_trivirgata
in both Firefox and Chrome.
Neat you already got points into the maps - fun to explore  ... !

[2011-03-11 22:18] andrewxhill commented on #40
mostly fixed, just a side affect of some things i'm up to. give me until the next meeting before submitting more issues about range tiles, missing or not. i should have all mammals and amphibia up by end of weekend, but will be testing, deleting, and redoing throughout.

[2011-03-11 22:18] #40 closed, assigned to nobody

[2011-03-18 18:52] DanRosauer opened #41 "Species ranges defined by occurrence in polygons"
To kick off the discussion about how we handle ranges defined by region polygons, I'll lay out a very simple relational way of doing it, to get your feeback - especially Andy and Aaron on how well this will work for your architecture.

So we have 3 pieces of data:
1. a shapefile (or equivalent) for each set of regions - say one for ecoregions, for nations, for protected areas etc etc.  Each set of

[2011-03-18 20:04] tucotuco commented on #41
"Regionalisation" is confusing. Is it fair to say that this is a feature type categorisation? In other words, each shape file contains only on feature type, and that type is what is meant by the regionalisation?

[2011-03-18 20:45] DanRosauer commented on #41
Yes.

I've edited out 'regionalisation' above to clarify.

[2011-03-19 21:15] andrewxhill commented on #37
The workflow is in place and has been tested during UI development. I think we are at a good place to close this now. We can open specific Issues as they arise.

[2011-03-19 21:15] #37 closed, assigned to nobody

[2011-03-25 15:55] walterj commented on #41
At all consider Google Fusion Tables? Probably much too constrained. Here a (partial) blurb on their limitations:

Using KML for Geographic Data

You can store the geographic coordinates of points, lines, and polygons in a table by using KML. Use an INSERT or UPDATE statement to place a KML string in any column where the type has been set to Location. This is useful to create a correlation between

[2011-03-28 21:07] andrewxhill commented on #6
rob got me some prelim text yesterday

[2011-03-28 21:07] #6 closed, assigned to nobody

[2011-03-28 21:11] andrewxhill commented on #35
Old version,
http://www.yale.edu/mapoflife/indexNew.html
New version,
http://mol.colorado.edu/

response to comments:
1) Deleted code section
2) There is no blog right now, so didn't keep the blog section
3) see 2
4) only text for this one page currently, there is the tech.html in the works
5) answered previously

closing.

[2011-03-28 21:11] #35 closed, assigned to nobody

[2011-03-29 13:54] walterj commented on #35
Thanks, Andrew - great.

There are still dead links at the bottom of the page. Could we remove those and retain/add links that list people / link to our respective lab webpages?

Thanks! Walter

[2011-05-02 22:03] andrewxhill opened #42 "Remove tiling from new range pipeline"
all tiling is done on the fly now, no need to pretile at all now.

[2011-05-02 22:14] andrewxhill opened #43 "New color scheme cascading issues"
Place for aaron and I to get some minor UI tweaks documented.

Add/More button color is now off
Add/Delete layer buttons are oddly shaped
Add button rollover goes too light
Result layers aren't as wide as the search bar, annoying

[2011-05-02 22:59] eightysteele opened #44 "New layers surface in stack right away"
So when you select a layer and click 'add', the layer widget should show immediately in the stack instead of after load.

[2011-05-02 23:27] eightysteele opened #45 "Wire up 'Delete' layer button"
Select a layer, click delete, and it should go away.

[2011-05-04 19:21] eightysteele commented on #45
Complete as of:
https://github.com/andrewxhill/MOL/commit/6b54533fef3a5af6ac2170a4c768bd7b39c9310c

[2011-05-04 19:21] #45 closed, assigned to eightysteele

[2011-05-06 09:21] andrewxhill commented on #44
While you are in this area, there is a problem with Delete.
If you load some layers. Then delete them. Then load more, the first set reappears.

Loading multiple point datasets at a time fails.

[2011-05-06 14:48] eightysteele commented on #44
On it.
On May 6, 2011 2:21 AM, "andrewxhill" <
reply@reply.github.com>
wrote:

[2011-05-06 18:13] eightysteele commented on #44
So one thing... can we mod the points API to take a list of names to
search on, instead of only one name? Thoughts?

On Fri, May 6, 2011 at 7:48 AM, Aaron Steele eightysteele@gmail.com wrote:

[2011-05-06 18:15] andrewxhill commented on #44
Def, how quick do you need the mod?

[2011-05-06 18:19] eightysteele commented on #44
Highly useful whenever ready. But I can stay busy in meantime.

On Fri, May 6, 2011 at 11:15 AM, andrewxhill
reply@reply.github.com
wrote:

[2011-05-06 18:21] eightysteele commented on #44
Also, having a hard time reproducing the problems you found. When you
get a minute, if you can tell me exactly how to reproduce (search
inputs, exact steps, etc) that will rock.

On Fri, May 6, 2011 at 11:19 AM, Aaron Steele eightysteele@gmail.com wrote:

[2011-05-06 18:44] andrewxhill commented on #44
Yeah, API call for multiple search names. Shouldn't the Points API act more like the Layers API and treat them as discrete units? Or are you thinking, if a user wants to get a layer of Puma points?

Okay, repro. Just tried to do the same thing a second time with no luck. I'll try again in a bit, working on getting our indexes nice and clean.

[2011-05-06 18:49] eightysteele commented on #44
So if a user select 5 points layers to add, right now, the client
makes 5 different AJAX calls which is kind of inefficient and also
requires keeping track of 5 async callbacks which makes state kind of
messy. So, if the API supported multiple names, then the client could
batch requests for the 5 layers into a single AJAX call with a single
async callback. The resulting layers would still be discr

[2011-05-06 18:54] andrewxhill commented on #44
Totally, but since the APIs to get layers should be standard, and now we can use a type:key_name query for all existing types, why don't I just rework the API to have a single entry point that takes an array of type:key_name pairs, and returns a result object of layers?

But that makes me start to see really big JSON objects being passed in single responses, bogging browser. So, 5 async calls or 1

[2011-05-06 19:34] eightysteele commented on #44
Hell yeah:
http://r.fm/artist/la-fleur

Heeeeeeeeeell yeah. Big +1 for key_name array input.

Wait. MOL needs to scale? Crap. Ok, how about we pass in paging params
for each key_name and also set an upper bound on the number of
key_names to process?

[2011-05-06 19:45] andrewxhill commented on #44
been on repeat all morning, they've been kinda off lately, finally..

y. paging def for long types. you will face the same issues of state i
image? so. a user selects a point layer from a search result and says
to add it. the client js takes off and starts asking the api for the
data, the data gives back 5 points and says there are 100 more pages.
how will that be handled in a very different way t

[2011-05-06 19:54] eightysteele commented on #44
right. ok. so the usecase i have in mind is when a user selects
multiple point layers and then clicks the 'add' button. at that point,
client can do 2 things.

1) send multiple ajax calls and store/process multiple async callbacks
for initial load (multiple states to handle). problem is the browser
can only have two tcp connections open at any one time, so it will be
blocking.

2) batch multiple l

[2011-05-06 20:07] andrewxhill commented on #44
True, we should look into SPDY. Google already implements it
everywhere else, so in GAE?

y. I think I agree with this at it's core, still have to think on it a
smidddge. hah, yeah funny about git comment...

[2011-05-06 20:13] eightysteele commented on #44
SPDY. Maaaaybe.

Yeah, fairly common pattern, and we could generalize so that our
client RpcProxy (our mol.ajax module) sets a timer and batches all API
requests from the app. Then, when the timer fires, a single batch
request, with different API calls even, goes out. It's a pretty rad
arch that def helps with latency stuff.

[2011-05-06 22:17] andrewxhill opened #46 "May 6th Prototype Issues"
For all of your complaints *cough I mean, comments about the prototype we will show you today, can you just add to the comments below so we can sort through them. We have a lot of small issues we are logging ourselves, so it will be good for us to best control duplicates and know exactly what version you were talking about.

thanks.

[2011-05-07 03:00] #32 closed, assigned to nobody

[2011-05-10 17:40] DanRosauer commented on #46
It's looking great.  Heaps of functionality, great visually, and generally very easy to use.

Here are a few issues and ideas, in no particular order...
- looking at _Litoria eucnemis_.
  - the list of layers includes 2 WWF Ecoregion sets, but only 1 displays areas that I could see
  - the mouse turns from a hand to a pointer over the GBIF points, looking like you can click them, but doesn't do an

[2011-05-13 02:58] andrewxhill commented on #46
Dan,

Great comments. I have answers for some of them, misdirection for others. Okay here goes.

[code]

Yes, I've noticed this in the past but never had a chance to get to the root of it. Thanks for the example, I found that the original CSVs in DropBox contain a lot of duplicates. I'm running a job right now to fix those.

[code]

You'll be able to click them soooon, but we just have no meaningf

[2011-05-16 07:40] walterj opened #47 "Not all ecoregions display, e.g. >1/3/ missing for Puma concolor"
Hi there

I finally had time to get to the bottom of the missing ecoregions for e.g. Puma concolor. Many in C and S America that should show up do not and I just confirmed that it is not due to errors in our input file (ecoregion_species.csv in Dropbox). Both our file and check on http://gis.wwfus.org/wildfinder/ reveal 203 presence ecoregions for the species. Will email list - attachments don't s

[2011-05-16 07:44] walterj opened #48 "Ecoregion boundaries - if easy, delete"
Hi there,
If it's not too difficult, please prevent grey boundaries of individual neighboring presence ecoregions from displaying. Will be nice to show presence ecoregions as one continous surface. Eventually, we may want to show outside (but not inside) borders, but for now simply deleting all borders should be fine.

Best,

Walter

[2011-05-16 08:04] robgur opened #49 "search issue --- dipodomys"
The search for "dipodomys" (the kangaroo rat genus) returns no results.  Systematic of searches for a speciose higher level taxon?  (note, species names such as "dipodomys californicus" do appear).

[2011-05-16 08:11] andrewxhill commented on #49
This was due to a fix i stubbed in yesterday. It had a problem i
didn't see at the time, fixed. dipodomys works fine.

On Mon, May 16, 2011 at 2:04 AM, robgur
reply@reply.github.com
wrote:

##

Ecology and Evolutionary Biology
University of Colorado

http://biodiversity.colorado.edu
http://biodivertido.blogspot.com

[2011-05-16 08:13] robgur commented on #49
OMG that was fast!  And!  Its 2:12am there, crazy man!

[2011-05-16 08:20] robgur opened #50 "Layers on left rethink"
Adding more than four or species and their data-types scrolls the left-hand layer list off the screen (on a laptop).  Might want to create a more scrollable separate chunk of screen real-estate down the road.

[2011-05-16 08:29] robgur opened #51 "Intermittent UI function loss"
There seems to be intermittent UI function losses that have to do with the "sources" and "types" states.  Occasionally, after enough times changes those states, the UI can be set to "All sources" and "All types" and only return one data type despite all being present.  I will try to more systematically reproduce this bug.

[2011-05-16 08:33] andrewxhill commented on #51
Dude, I was trying to explain this problem to aaron one night, but
couldn't ever get it to replicate. I think he thought I had lost
it....

On Mon, May 16, 2011 at 2:29 AM, robgur
reply@reply.github.com
wrote:

##

Ecology and Evolutionary Biology
University of Colorado

http://biodiversity.colorado.edu
http://biodivertido.blogspot.com

[2011-05-16 08:36] robgur commented on #51
Its happened more than once to me now, so I know it is a repeatable bug...
and also.... 2:35am!!

[2011-05-16 09:01] andrewxhill commented on #48
Nope, doable but not easy right now. Gave it a shot just on puma
concolor so you could take a look at the difference.

On Mon, May 16, 2011 at 1:44 AM, walterj
reply@reply.github.com
wrote:

##

Ecology and Evolutionary Biology
University of Colorado

http://biodiversity.colorado.edu
http://biodivertido.blogspot.com

[2011-05-16 15:17] eightysteele commented on #51
Wow, this bug is nasty. I can't reproduce it, but I totally believe
it. I'm going to start building out the the mol.ui.Search module tests
(instead of debugging this specific issue) to see if I can surface
anything wonky. In the meantime, anyone who can reproduce will get a
round of Monkey Heads on the house.

On Mon, May 16, 2011 at 1:36 AM, robgur
reply@reply.github.com
wrote:

[2011-05-16 23:04] #49 closed, assigned to nobody

[2011-05-16 23:05] #46 closed, assigned to nobody

[2011-05-16 23:05] #43 closed, assigned to nobody

[2011-05-16 23:06] #39 closed, assigned to andrewxhill

[2011-05-16 23:08] #41 closed, assigned to andrewxhill

[2011-05-16 23:08] #5 closed, assigned to nobody

[2011-05-16 23:08] #10 closed, assigned to andrewxhill

[2011-05-16 23:09] #16 closed, assigned to andrewxhill

[2011-05-17 15:36] eightysteele commented on #51
No progress on reproducing this bug, though I did find a couple of bugs (variable leak into global state) that _might_ have played a part here. I redeployed to our prototype URL. So def continue trying to reproduce this. If you are able to reproduce, double check that the 'All Names' link is selected and also check Chrome Developer Tools console for any JavaScript errors.

[2011-05-17 21:32] ajturner commented on #10
greetings from GeoCommons - this sounded like a really interesting idea. Did you end up creating a demo UI in GeoCommons? If so, we'd love to highlight it.

[2011-05-17 22:46] robgur commented on #51
Good idea on using the console to check for js errors.  Will keep that open from now on.

[2011-05-17 22:46] #51 closed, assigned to eightysteele

[2011-05-18 01:49] andrewxhill commented on #48
Gone.

[2011-05-18 01:49] #48 closed, assigned to nobody

[2011-05-18 01:50] andrewxhill commented on #47
Fixed?

[2011-05-18 01:50] #47 closed, assigned to nobody

[2011-05-18 02:10] andrewxhill commented on #50
should add a scroll bar now if the layer list gets too long

[2011-05-18 02:10] #50 closed, assigned to nobody

[2011-05-22 01:49] eightysteele opened #52 "Architecture diagrams"
We need a few high level technical diagrams illustrating the MOL architecture in broad strokes.

[2011-05-23 17:06] eightysteele opened #53 "URL shortener for MOL links"
Make MOL app links short:
http://code.google.com/apis/urlshortener/index.html

Note that goo.gl doesn't yet support JSONP, so the overhead would be 2 HTTP requests to expand or shorten links.

[2011-05-23 17:18] eightysteele commented on #44
Fixed.

[2011-05-23 17:18] #44 closed, assigned to eightysteele

[2011-05-26 23:17] #21 closed, assigned to andrewxhill

[2011-06-01 17:48] andrewxhill opened #54 "It's time to move the back end to scalable infrastructure."
Before we really can crack the point nut, I think we would be better rewarded to move away from the hold-over desktop computer we are running the backend on now. In particular, to enable point tiling, we are going to need to implement a new storage layer in the backend stack. This is something we might like the buffer of having the desktop for development and a new live production somewhere else.

[2011-06-01 23:34] eightysteele opened #55 "Amazon document on cost for MOL dev and prod servers"
Andrew and Aaron create a document summarizing cost for MOL development and production servers.

[2011-06-03 01:36] eightysteele commented on #53
We're not going to surface this feature.

[2011-06-03 01:36] #53 closed, assigned to eightysteele

[2011-06-03 02:13] eightysteele commented on #52
Andrew and I started this in Berkeley last week. We're about 80% done as of today.

[2011-06-05 01:09] eightysteele opened #56 "Make metadata view bookmarkable"
Title says it all.

[2011-06-05 01:36] andrewxhill commented on #56
title says too much. mmvb

[2011-06-10 13:20] walterj opened #57 "Enable moving up/down of layers"
Per discussions with Aaron 5 June.
Already submitted as issue?
Walter

[2011-06-10 13:23] walterj opened #58 "After species is chosen, one-click selection of _all_ range types"
Per discussions with Aaron 5 June.
For after species shows up in search window and is selected: add a box that allows user, with one click, to add all range types (and sources) to screen.

Walter

[2011-06-10 13:26] walterj opened #59 "Add transparancy slider for non-point layers"
So user can adjust visibility/emphasis of different range types / sources (and species) when viewing them together.

[2011-06-13 17:31] #55 closed, assigned to nobody

[2011-07-07 17:33] tucotuco opened #60 "ecoregion download"
To reproduce:
Add an ecoregion to the map. Click on the "i" to see the metadata. Click on the link to the shape file on the metadata page.

Result:
UI reverts to map page with no layers. No download occurs.

[2011-07-07 17:40] tucotuco opened #61 "no full metadata view"
To reproduce:
Add an ecoregion to the map. Click on the "i" to see the metadata page. Click on the "full" link next the the label "Metadata view:" in the upper right.

Result:
No change in metadata view.

[2011-07-07 17:47] eightysteele commented on #61
Yeah, that feature is just stubbed in. Doesn't actually do anything yet. Need to figure out if we want that or not.

[2011-07-07 17:47] #61 closed, assigned to nobody

[2011-07-07 17:48] eightysteele commented on #60
Yep, downloads aren't implemented yet. Just a stub link for now.

[2011-07-07 17:48] #60 closed, assigned to nobody

[2011-07-12 01:49] eightysteele opened #62 "Analytics tracking"
Rob identified the need for MOL to track UI and API usage. On the UI side we just need to enable Google Analytics for now. On the API side we need to track API requests (including API name, request params, result metadata, origin host, etc). There are a couple of different approaches here. We could add information logging to API handlers and then just download/process logs directly for reporting.

[2011-07-12 02:35] robgur commented on #62
This is an add to Milestone 1 b/c we need tracking data sooner rather than later if we plan to seek funding past initial funding from NSF/EOL.

[2011-07-20 20:35] eightysteele opened #63 "Button to zoom into focal regions (min/max of single or all layers)"

[2011-07-20 20:35] eightysteele opened #64 "Button to select all searched and filtered layers for display"
This should work for all data types for a species.

[2011-07-20 20:37] eightysteele opened #65 "Search by English name"
Common name bascally, like American Pika or Black-tailed prairie dog.

[2011-07-20 20:37] eightysteele opened #66 "Increase the number of GBIF points displayed"
At least 400 points would be ideal.

[2011-07-20 20:42] eightysteele opened #67 "Change color of checklist areas (reserves)"
Other than blue (e.g. violet or red). Blue is confusing with lakes.

[2011-07-20 20:43] eightysteele opened #68 "Mechanism for username/password protected access"

[2011-07-20 20:43] eightysteele opened #69 "Add bird expert maps"

[2011-07-20 20:44] eightysteele opened #70 "Make other data types operational for birds"
'Parus major' right now (only partial and incorrect results for ecoregion, no points).

[2011-07-20 20:53] eightysteele commented on #63
A quick hack is done for point and range layers. If you toggle a layer (e.g., turn it off and then back on), the map will automatically zoom to the extent of the layer. Here's an example... Toggle either of the layers and you'll see what I mean:

http://goo.gl/GU9PT

Now, ecoregions and protected area layers will take longer to hack. I thiiiink we would need to combine extents for all participatin

[2011-07-20 20:56] eightysteele commented on #66
So I played with increasing the limit and I'm pretty confident that we can double it to 200 reliably before getting into trouble. If we go any higher, it will take App Engine too long to pull records from GBIF and things will start breaking. To get it higher we kinda get into the realm of prototyping our "all points" solution which I don't think we have time for before the demo.

Question for Rob

[2011-07-20 20:57] eightysteele commented on #68
Let's see... Ok, so what we can probably do is just deploy the following admin-restricted URL for the demo:

http://demo.mol-lab.appspot.com/admin/sandbox/map

Then, in order to access, I'll just need to add Walter as an admin to Google App Engine. Walter, if you can send me your GMail address I'll add you. Rob, I already have yours and I'll add you too.

Is this sufficient for the demo?

[2011-07-20 21:00] eightysteele commented on #69
Right, so in figuring out if we'll have time for this, we kinda need to know how soon we can get these data and also what form will they take.

[2011-07-20 21:00] eightysteele commented on #70
Right, so in figuring out if we'll have time for this, we kinda need to know how soon we can get these data and also what form will they take.

[2011-07-20 23:00] tucotuco commented on #63
+1 to shipping predetermined outer extents to AppEngine.

[2011-07-20 23:20] eightysteele commented on #67
We have a pretty dope color working for protected areas now:

http://goo.gl/y8muf

How's it look?

[2011-07-21 18:00] eightysteele commented on #69
Via Walter by email:

"Examples have been sitting in My Dropbox\MoL\ExpertMaps\BirdsSHP for a while. Essentially, we could produce maps in exact same format as the amphibian or mammal maps. Probably could get this done on Fri/Sat. Will want to consult with Dan here and potentially ask him to assist, to ensure consistency. Note that I am potentially envisioning two sources (Walter, IUCN) for the ex

[2011-07-21 20:14] eightysteele opened #71 "Tiling performance"
From Walter via email:

"Playing with other species, e.g. Canis lupus, is also noted that map drawing can be extremely slow. My connection here is fast and worked otherwise fine, so I was surprised, when this species took ca. 60 seconds to finish drawing all map types. Could you have a play and see whether you get similar slowness for some species? Is this something where by expending some more mo

[2011-07-21 20:18] eightysteele commented on #71
Yeah, so there were some serious initial performance issues going from the Colorado server to Linode. Andrew made some immediate changes to address it which helped a lot:

1) Tile coloring on Linode instead of App Engine. Saves a few hundred milliseconds per request. Reduces drag on Linode.

2) Moved Mapnik implementations to pure python (instead of mapfile.xml which required I/O). Right now all R

[2011-07-21 20:21] walterj commented on #63
Great, Aaron. I think this would be good for now. But after demo, we should definitely soon find a general solution that applies to all layers. A general solution _could_ be that only one zoom is available is available, that will always go to the max/min extent of the union of all data types and sources.

[2011-07-21 20:23] eightysteele commented on #71
So I don't think we have time to implement a DB solution in the next 4 days, but what we can do is jack up the Linode instance which is currently a Linode 512 (512MB RAM, $20 monthly).

To roughly match performance of the Colorado server we could upgrade to Linode 4096 (4GB RAM, $160 monthly). To jack it up all the way, we could get crazy with Mr. Linode 20 (20GB RAM, $800 monthly).

Walter and Ro

[2011-07-21 20:23] walterj commented on #68
I think so.
My Google username is: walter.jetz@yale.edu

[2011-07-21 20:26] robgur commented on #71
I think we need to consider the Linode 4096 upgrade at $160 monthly.  That is still a pretty good deal for a year ($1920/yr). Will check with Andrew about making it so, ok?

[2011-07-21 20:27] walterj commented on #67
Whoa! OK, if we must :) Or polygon with black outline and hashed interior an option?

[2011-07-21 20:28] eightysteele commented on #71
Yeah, the Linode 4096 seems right. Definitely check with Andrew to see if this makes sense.

[2011-07-21 20:35] walterj commented on #66
Thanks! Can we rely on it always pulling 200 points when there are at least 200 available? If so, then yes, in my eyes for now. We should put general solution on frontburner though for after coming week, otherwise point data type is not complete.

[2011-07-21 20:40] eightysteele commented on #63
Agree 100%. Closing this issue as it relates to this milestone.

[2011-07-21 20:40] walterj commented on #65
Ultimately, something similar to what one gets when doing 'Add to Map', 'Add species' in http://spatial.ala.org.au/# would be ideal, i.e. search by either common or Latin species or genus name etc.

[2011-07-21 20:42] eightysteele commented on #68
Ok, I just added you as an admin. You should get an email to confirm. After confirming, try accessing the link below. Success?

http://demo.mol-lab.appspot.com/admin/sandbox/map

[2011-07-21 20:44] eightysteele commented on #67
Ha! What, you don't like hot pink? :)

We could play with this, but Linode is currently migrating to a bigger instance. Maybe put this off until after demo? Or if you want to suggest a specific color (via hex code or RGB values) I can do that really quickly.

[2011-07-21 20:45] eightysteele commented on #66
Definitely.

Excellent. Closing issue as it relates to this milestone.

[2011-07-21 20:45] walterj commented on #68
Hi Aaron,

I am being asked for info for Creating an Application, an Application Identifier: and Application Title:  am I on the right track?

Walter

-----Original Message-----
From: eightysteele [mailto:reply@reply.github.com]
Sent: Thursday, July 21, 2011 4:42 PM
To: Jetz, Walter
Subject: Re: [MOL] Mechanism for username/password protected access (#68)

Ok, I just added you as an admin. You sho

[2011-07-21 20:46] eightysteele commented on #68
Hmmm... can you forward me the confirmation email you got?

[2011-07-21 20:53] walterj commented on #71
4GB RAM does not strike me as much, but defer to you as experts.

[2011-07-22 03:17] eightysteele commented on #71
So we've upgraded to Linode 4096 but I'm not seeing a _huge_ performance increase WRT tiling. The bottleneck is layers requiring mapfile.xml I/O, but I'm a little stumped why range tiles (which are now pure Python via Mapnik) appear to be a little sluggish? Need to look into it a bit.

[2011-07-22 03:47] eightysteele commented on #71
Um, ok, now it's about 4 times faster than it was this afternoon after clearing memcache. Still looking into things...

[2011-07-22 04:11] eightysteele commented on #64
For this I added a 'select all' link next to the 'Results' headline. Maaaaybe need a 'select none' link too. Or just a 'select all none' where 'all' and 'none' are links. It's deployed here:

http://demo.mol-lab.appspot.com/sandbox/map

Thoughts? Walter and Rob, is this sufficient for the demo?

[2011-07-22 23:20] eightysteele commented on #68
Waiting for Walter to get a GMail account.

[2011-07-22 23:23] eightysteele commented on #71
Performance is a _little_ better now, generally in the 4 second range for rendering tiles at a new zoom level. I think this is as far as we can go with this issue before the demo though.

[2011-07-22 23:23] #71 closed, assigned to eightysteele

[2011-07-22 23:27] eightysteele commented on #66
Closing issue.

[2011-07-22 23:27] #66 closed, assigned to eightysteele

[2011-07-23 00:44] robgur commented on #67
I think the color is fine for now if it could be made just a titch darker.  Aaron can you do that?  If yes, can we close this for the time being?

[2011-07-23 00:48] robgur commented on #64
How hard would it be to "select all" layers for delete from right side?  Or effectively a shift-click to select multiple layers at once.  If hard, its not essential but would be useful.  Otherwise, like the "select all" link as deployed.

[2011-07-23 01:28] eightysteele commented on #67
Yep, I'll do it and then I'll close this issue.

[2011-07-23 15:04] eightysteele commented on #67
Done. Here's an example of the color change:

http://ldemo.mol-lab.appspot.com/data/tile?key_name=pa-group/wdpa-group/MA133&source=WDPA&r=150&g=6&b=209&x=11&y=21&z=6

Committed and deployed to:

http://ldemo.mol-lab.appspot.com/admin/sandbox/map

Closing issue as it relates to this milestone.

[2011-07-23 15:04] #67 closed, assigned to eightysteele

[2011-07-23 16:06] walterj commented on #64
"Select all" link as deployed is OK, but may be better placed on the right. Most intuitive would be something like "All", with button next to it, in same format as other buttons below.
I second Rob's suggestion of a Delete All button on the right. Would really speed up switching from one species to another which is of course something one would do a lot in a demo.

[2011-07-23 16:07] walterj commented on #57
This is also one that would be good to tackle soon. _If_ there is spare time, before the Demo may be ideal.

[2011-07-23 16:16] walterj commented on #70
For ecoregion and GBIF (and I think also reserve checklists) the data is already in the current sources and is queryable (query 'Parus major' or other bird species). But I am not sure it all works properly. Please check

[2011-07-23 17:52] eightysteele commented on #64
Done. You can now select multiple layers via shift-click. If you then click the delete button, all selected layers are deleted.

Done. Renamed "select all" to "All" and moved it to the right. Also added a new "None" link that deselects all results.

Latest pushed and deployed:
http://demo.mol-lab.appspot.com/admin/sandbox/map

Looking good?

[2011-07-23 18:05] eightysteele commented on #67
Per Rob's request via chat, changed PA tile color to yellow (#FFBF00). Pushed and deployed:

http://ldemo.mol-lab.appspot.com/admin/sandbox/map

[2011-07-23 18:11] eightysteele commented on #68
No GMail account from Walter yet, but just send it when/if you get it. Closing this issue

[2011-07-23 18:11] #68 closed, assigned to eightysteele

[2011-07-23 18:11] eightysteele commented on #64
Closing this issue pending feedback.

[2011-07-23 18:11] #64 closed, assigned to eightysteele

[2011-07-24 13:23] walterj commented on #68
Hi Aaron,

Added an actual email account

jetz.walter@googlemail.com

to my already existing google account walter.jetz@yale.edu.

Walter

-----Original Message-----
From: eightysteele [mailto:reply@reply.github.com]
Sent: Saturday, July 23, 2011 2:11 PM
To: Jetz, Walter
Subject: Re: [MOL] Mechanism for username/password protected access (#68)

No GMail account from Walter yet, but just send it wh

[2011-07-24 15:57] eightysteele commented on #68
Excellent. I invited you as admin so you should get an email. After you've accepted, you should be able to access:

http://demo.mol-lab.appspot.com/admin/sandbox/map

[2011-07-24 16:26] walterj commented on #69
I put some examples of recent IUCN maps + metadata in My Dropbox\MoL\ExpertMaps\Birds_NewBL . Will reproject (to Mercator) and rename that before use, but would like to retain fields in dbf and display by filtering 2-3 of the fields. OK?

[2011-07-24 17:10] eightysteele commented on #68
Walter, I created a new GMail account (mol.demo.user@gmail.com), added that account as an App Engine admin on MoL, and you can now use that account to access the password protected demo. I'll email you and Rob separately with the password.

[2011-07-24 17:14] eightysteele commented on #70
John, can you double check this?

[2011-07-24 17:17] eightysteele commented on #69
SGTM. Please update this issue when they are reprojected.

I'm not sure I understand what you mean here. What do you mean by "display by filtering 2-3 of the fields"?

[2011-07-24 17:24] walterj commented on #69
Only display areas where field ORIGIN = 3 and PRESENCE = 1

[2011-07-24 21:44] eightysteele commented on #63
Via chat with Rob, the current zoom hack has some usability issues.  Proposed quick solution is a click-to-zoom button instead (next to Add, Delete, Share buttons in layer stack) that when you click, the map will zoom to extent of all selected layers.

Reopening issue.

[2011-07-24 21:48] eightysteele opened #72 "Protected areas species lists"
Via email from Dan:

"Following from the question on Friday about the BioInv species lists for protected areas, whether the data are the publically available dataset, or an enhanced product from our lab.

The answer is:

a) the original data came from here: http://www.ice.ucdavis.edu/bioinventory/bioinventory.html

b) they were modified in our lab to resolve to a consistent taxonomy, remove locati

[2011-07-24 21:48] eightysteele commented on #72
via email from Dan:

"The revised reserve species lists are now in Dropbox\MoL\PolygonalOccs.

The 3 files which have the new occurrence list by reserve are:
                MammalData.xls
                AmphData.xls
                BirdData.xls"

[2011-07-25 01:29] tucotuco commented on #70
Parus major does return GBIF points and WWF Ecoregions. There is one issue. Two WWF Ecoregions appear in the result list for this species, but when you show them on the map, only two layers appear, leading me to believe that there is some duplication in the Ecoregion data. Checking out the hypothesis now.

[2011-07-25 02:51] tucotuco commented on #70
So, there was a duplicate entry for WWF Ecoregion for Parus major, which doesn't seem to be universally the case. I checked Parus palustris and it had no duplicate.  Immediate solution was to remove the duplicate Parus major entry in the data store.

So back to the original issue, it looks like GBIF Points and the WWF Ecoregion are functioning properly. Aaron to confirm and close.

[2011-07-25 03:04] tucotuco commented on #70
Walter, can you confirm that the original issue appears fixed to you in http://demo.mol-lab.appspot.com/admin/sandbox/map please?  I see Parus major in a single WWF Ecoregion Set and I see the GBIF points for it as well.

[2011-07-25 05:05] eightysteele opened #73 "Map tile border for protected areas"
Also remove tile borders for range maps.

[2011-07-25 05:16] eightysteele commented on #73
Done. Range tiles don't have a border and protected area tiles do. Closing issue. Deployed to:

http://demo.mol-lab.appspot.com/admin/sandbox/map

[2011-07-25 05:18] eightysteele commented on #63
Added 'Zoom' button on top of layer stack. When clicked, map will zoom to combined extent of all selected layers. This is fine for demo but I don't like adding the 'Zoom' button there. Need to think on it. Closing issue pending further feedback. Deployed to:

http://demo.mol-lab.appspot.com/admin/sandbox/map

[2011-07-25 05:18] eightysteele commented on #73
Oops, wrong link above (fixed it). Should have been:

http://demo.mol-lab.appspot.com/admin/sandbox/map

[2011-07-25 05:20] eightysteele opened #74 "Metadata"
Critically for the demo the UI should show IUCN for range maps (not MOL), both in search and metadata browser UI. Also metadata browser should show attribution for range and ecoregions.

[2011-07-25 05:21] eightysteele commented on #74
Done and deployed:

http://demo.mol-lab.appspot.com/admin/sandbox/map

Other remaining metadata tasks that are critical for demo? Feedback from Rob and Walter needed. Closing issue in the meantime.

[2011-07-25 06:46] walterj commented on #63
Zoom button takes one into the Pacific in case of Parus major.

-----Original Message-----
From: eightysteele [mailto:reply@reply.github.com]
Sent: Monday, July 25, 2011 1:18 AM
To: Jetz, Walter
Subject: Re: [MOL] Button to zoom into focal regions (min/max of single or all layers) (#63)

Added 'Zoom' button on top of layer stack. When clicked, map will zoom to combined extent of all selected layer

[2011-07-25 14:45] eightysteele commented on #73
Need to remove cached range tiles that have a border (see range maps for puma).

[2011-07-25 14:47] eightysteele opened #75 "Toggling and deleting point layers not working"
Likely caused by changes in the zoom commit.

[2011-07-25 14:51] eightysteele commented on #63
Yeah, zoom works right now for range maps (and soon points) but not ecoregions or protected areas (see reasons at beginning of issue). For Parus major I don't think we have any range maps (yet). Clicking zoom for unsupported types should have no effect on map zoom, so I'll make that change.

[2011-07-25 15:58] walterj commented on #63
Not working for Rattus elaphinus, Mozilla.

[2011-07-25 16:22] eightysteele commented on #70
Confirmed resolved by Walter via Skype chat.

[2011-07-25 16:22] #70 closed, assigned to tucotuco

[2011-07-25 16:22] walterj commented on #70
Great tits work, and more.

[2011-07-25 16:32] eightysteele commented on #65
So we have common names in SpeciesIndex.names list from COL, but not grouped. So there's ['american', 'pika'] but not ['american pika'].

Buuut, weasel and marten don't show up. So need to investigate.

[2011-07-25 16:37] eightysteele opened #76 "Going from metadata viewer to map"
The layers are collapsed. So add history state for that.

[2011-07-25 16:38] eightysteele opened #77 "Metadata viewer displayed deleted layers"
Need to sync layer list view with metadata viewer list.

[2011-07-25 16:40] eightysteele commented on #74
Need to load ecoregion set metadata (John will do this).

[2011-07-25 16:47] eightysteele commented on #71
Next step in performance tuning is spatial db stuff via couch or postgresql/postgis. Huge performance gain there since we'll skip mapfile.xml I/O which is the bottleneck in general.

[2011-07-26 03:01] eightysteele commented on #73
Fixed. Closing issue.

[2011-07-26 03:01] #73 closed, assigned to eightysteele

[2011-07-26 03:30] eightysteele commented on #75
Done. Fixed a closure bug in PointLayer.show function and also fixed a corner case for the refresh function. Toggling and deleting point layers now working. Deployed to:

http://demo.mol-lab.appspot.com/admin/sandbox/map

[2011-07-26 03:30] #75 closed, assigned to nobody

[2011-07-26 03:59] eightysteele commented on #63
Done. Increased async URL fetch deadline to 10 seconds for GBIF requests. Issue was also actually related to issue #75 which has been fixed and closed. Closing this issue pending feedback. Deployed to:

http://demo.mol-lab.appspot.com/admin/sandbox/map

[2011-07-26 06:03] eightysteele commented on #76
Initial fix pushed and deployed:

http://demo.mol-lab.appspot.com/admin/sandbox/map

Closing issue pending feedback.

[2011-07-26 06:03] #76 closed, assigned to eightysteele

[2011-07-26 06:21] walterj commented on #63
Zoom for Rattus rattus (all four data types mapped) still takes on to the middle of the Pacific (Firefox).

[2011-07-26 06:26] walterj commented on #63
Ditto for puma concolor

[2011-07-26 07:11] eightysteele commented on #77
Initial fix pushed and deployed:

http://demo.mol-lab.appspot.com/admin/sandbox/map

Closing issue pending further feedback.

[2011-07-26 07:11] #77 closed, assigned to eightysteele

[2011-07-26 07:15] eightysteele commented on #63
You're probably zooming a protected area or ecoregion? Behavior for these data types should be no zoom, checking...

[2011-07-26 07:30] eightysteele commented on #63
Yep, that was it. Great catch guys, and thanks for the late night testing: Point and range layers zoom, protected area and ecoregion layers do not:

http://demo.mol-lab.appspot.com/admin/sandbox/map

Keeping issue closed pending further feedback.

[2011-07-26 07:54] walterj commented on #63
Hi Aaron,

Great - thanks. I realize that part of my confusion arose from the fact that one has to actively select a layer to successfully zoom. Usually, one would simply want to zoom into the region of the world where all layers are to see what's going on, _before_ wanting to select a layer. Any chance for setting up so that when _no_ layer is selected, zoom would automatically default to expert

[2011-07-26 15:06] eightysteele commented on #63
The first time you add layers to the map, this makes sense. Now imagine you have layers on the map and you add a new layer or delete a layer. What is the zoom behavior in these cases? I would say no automatic change in zoom.

Well, maybe. My intuition though is that it's not quite right. It might be confusing to have the app start auto-zooming to specific layers without you explicitly telling it t

[2011-07-27 10:13] walterj opened #78 "Username/password restricted access does not appear to work"
Signed out of Google account and went back onto Demo URL and it still displays.

[2011-07-27 10:16] walterj opened #79 "Metadata does not show for ecoregion, points, bioinventory"
As said several times, have so far been unable to see this. Would be very good to have for Demo tomorrow  ...

[2011-07-27 13:48] eightysteele commented on #78
Can you double check the URL and include it in this issue?

[2011-07-27 15:13] #63 closed, assigned to eightysteele

[2011-07-27 15:14] eightysteele commented on #78
Confirming that Google authentication is required at the following URL:

http://demo.mol-lab.appspot.com/admin/sandbox/map

Closing issue.

[2011-07-27 15:14] #78 closed, assigned to eightysteele

[2011-07-27 15:19] eightysteele commented on #79
John, what metadata should be visible at this point?

[2011-07-27 15:41] tucotuco commented on #79
WWF EcoRegion collection, individual EcoRegions, and individual IUCN Range maps.

On Wed, Jul 27, 2011 at 8:19 AM, eightysteele
reply@reply.github.com
wrote:

[2011-07-28 05:42] tucotuco commented on #74
Metadata for all collections are now showing.

[2011-07-28 07:36] tucotuco commented on #79
Update that. Metadata for all collections has been implemented in addition to the layer-level metadata for Ecoregions and IUCN Range Maps.

[2011-07-28 22:03] tucotuco opened #80 "Add MasterSearchIndex entries for Jetz Bird ranges"
Add for all tokens so that search by any word of the scientific name will return a species.

[2011-07-28 22:27] tucotuco commented on #80
Same for MultiPolygonIndex

[2011-07-28 22:46] tucotuco commented on #79
So what's left is the metadata for individual protected areas and bioinventories. Collection-level metadata for Jetz Ranges shows as IUCN and UNEP: Bioinventory.

[2011-07-28 23:33] eightysteele opened #81 "Extents for Jetz range maps"
If you load a Jetz range map, select the layer, and click zoom, the map zooms out to full extent. Need to double check the extents that were stored in MP.info property.

Assigning to @tucotuco.

[2011-07-28 23:35] eightysteele commented on #81
To reproduce, search for 'tyto soumagnei', add the Jetz range map, select it, click zoom. You should zoom into Madagascar. Instead you zoom waaaaay out:

http://demo.mol-lab.appspot.com/admin/sandbox/map

[2011-07-29 02:14] tucotuco commented on #81
I believe this is because the extents are in the raw projected coordinates and not in the map coordinates. This is also likely the cause for all ranges to not have their maps show in the metadata detail. Don't know the solution to that yet.

[2011-07-30 03:03] tucotuco commented on #80
Done and tested. All ranges can now be searched by any term within a taxon name (genus, species, subspecies).

[2011-07-30 03:03] #80 closed, assigned to nobody

[2011-07-30 03:10] tucotuco commented on #69
Walter, need clarification on this issue. The files you gave us to load most recently in two big zip files named BOWmerc*.zip had no properties called ORIGIN and PRESENCE. We loaded everything that was in there to the metadata for those layers (OccCode, Latin, EditsInfo, Citation).

[2011-07-30 09:29] walterj commented on #69
This is because these were not IUCN range maps, but Walter range maps. The expert range map type will have sources with fields that have different names and meanings. Some require several fields to characterize type of occurrence (e.g. IUCN: ORIGIN, PRESENCE, etc.), others (mine) have only one (OccCode, where 1 = breeding-only, 2= year-round resident, 3 = non-breeding only, 4 = 1 or 2).

Walter

-

[2011-07-30 14:58] robgur opened #82 "Duplicate (or two separate) ecoregions for a single taxon"
I have found a couple cases of duplicate (or two separate sets of) ecoregions for a single taxon.  An example is a search on "Melanoptila glabrirostris".

[2011-07-30 17:01] eightysteele commented on #82
Totally. Assigning issue to myself and changed the milestone to Demo.

[2011-07-30 17:54] eightysteele commented on #81
Assigning issue to myself. Changing label to Status-Started.

[2011-07-30 18:07] eightysteele commented on #81
Whoa, ogr.Layer.GetExtents() for zosterops_xanthochrous.shp is:

(18241443.028818697, 18745720.322112225, -2596125.9020476588, -2265080.9167815968)

[2011-07-30 19:07] eightysteele commented on #81
Here's the SRS: +proj=merc +lon_0=0 +k=1 +x_0=0 +y_0=0 +a=6378137 +b=6378137 +units=m +no_defs

So yeah, looks like a projection is needed.

[2011-07-30 22:11] eightysteele commented on #82
Update: I'm running a MapReduce job over MasterSearchIndex and so far discovered over 1000 duplicates. Also finding entities with a parent that references an OccurrenceSet not in the datastore. I'll know more after the job is complete.

@tucotuco: As a sanity check can you see if the bulkloader is checking for existing MSI _before_ putting new ones? That might be part of what's happening here and

[2011-07-30 22:43] eightysteele commented on #82
343,075 MasterSearchIndex entities, 1189 are duplicates, 27158 have non-existent OccurrenceSet parents. Here's the full list:

https://gist.github.com/1116099

Will update when I know more.

[2011-07-31 16:49] robgur opened #83 "push range map layer on top of ecoregion by default"
Simple change, but I think the range maps should by default have a higher z-index than the ecoregion maps.   Range maps almost always are more restricted than ecoregions, so making them appear on top of ecoregions just looks better and makes more sense.

[2011-07-31 16:58] eightysteele commented on #83
This is related to issue #57. Adding labels Status-New and Component-UI.

[2011-07-31 17:02] robgur commented on #83
Def.  A bit different too since it specifies default state.

[2011-07-31 17:27] eightysteele commented on #82
Couple options here. We can write code to fix duplicates and parent key errors, or harden the bulkloading code/process and clear/reload datastore where needed. I think the latter is a better solution, especially as we ramp up adding new layers to MoL.

[2011-08-01 04:40] eightysteele commented on #81
Update. Duh. This is a mercator projection so ogr.Layer.GetExtents() is returning coordinates in meters. Juuuuust need to convert those to lat/lon. Easy peasy with a little MapReduce sauce.

[2011-08-01 05:12] tucotuco commented on #79
@walterj
Collection-level metadata for Jetz Ranges corrected - not IUCN and UNEP any longer, but still need correct metadata for this collection from Walter per email of 26 July. Here's an extract:

"Can you provide the appropriate metadata for this collection using the
template provided at the following gist?

https://gist.github.com/1107215"

[2011-08-01 05:36] tucotuco commented on #74
Checklist data from which to generate metadata for individual layers of WWF Ecoregion Sets  and WDPA Bioinventories are in Dropbox/MoL/PolygonalOccs/EcoregionData and VertBioInvData.

[2011-08-01 14:35] walterj commented on #72
Given that BirdData.xls exists, could we visualize it, please?

[2011-08-02 03:45] eightysteele opened #84 "Add Google Analytics to demo"
Add @robgur as GA admin.

[2011-08-02 04:02] eightysteele commented on #84
Done. Tracking single domain mol-lab.appspot.com (the default app version specified in admin console). Closing issue.

[2011-08-02 04:02] #84 closed, assigned to eightysteele

[2011-08-02 07:27] tucotuco opened #85 "Test EntityLoader with IUCN, EcoRegion, PA types"
EntityLoader has been modified and tested with Jetz Range maps to load MultiPolygon, Metadata, and MasterSearchIndex entities for all unique combinations of tokens. Test that the mechanism works for the other data types/sources.

[2011-08-02 10:29] walterj commented on #69
Note that I will soon (few weeks) provide updated bird maps to replace many/all of the current ones. So no need to spend much more on finalization of the current lot.

[2011-08-03 17:15] walterj opened #86 "Subpar drawing performance for expert and ecoregion maps"
remains a serious problem. Especially for species with large extent. Try e.g. Nycticorax nycticorax and zoom in / out. We'll need to find a solution for this.

[2011-08-03 17:26] robgur commented on #86
Did we close this issue out.  Seems like a known problem with ecoregions and how they are called.  My concern is that the range maps also look slow to load, but hard to know where things are bogging down.

[2011-08-03 17:28] walterj commented on #86
Open, unresolved and important issue in my eyes.
Walter

-----Original Message-----
From: robgur [mailto:reply@reply.github.com]
Sent: Wednesday, August 03, 2011 1:27 PM
To: Jetz, Walter
Subject: Re: [MOL] Subpar drawing performance for expert and ecoregion maps (#86)

Did we close this issue out.  Seems like a known problem with ecoregions and how they are called.  My concern is that the range ma

[2011-08-03 17:32] robgur commented on #86
Ah, should have been more clear.  Looks like we did close the previous, related issue so good to get this re-opened.  I know we have some comments about development paths forward in that previous issue.

[2011-08-03 17:55] eightysteele commented on #86
This issue is related to #71. The path forward requires a database. Reopening issue with labels Priority-High and Status-Accepted.

[2011-08-03 18:06] robgur commented on #86
Thanks, Aaron.  Appreciate the re-open after mistakenly closing this.  Hitting "Comment" now not "Comment and Close".

[2011-08-03 18:12] eightysteele commented on #86
Ha, yeah, I do that a lot. I think the comment button should be blue or something.

[2011-08-04 17:36] eightysteele opened #87 "Docs for adding layers via Git"
This can probably go in a wiki page on GitHub. Target audience is MoL providers who need to add layers.

[2011-08-04 17:38] eightysteele opened #88 "Spec for layer workflow"
High level spec doc that covers layer workflow in broad strokes.

[2011-08-04 17:41] eightysteele opened #89 "Spec for layer files"
@walterj, @robgur: The spec should basically just specify metadata fields for source data and also for shapefiles (dbf et al).

[2011-08-04 17:43] eightysteele opened #90 "Spatial database for faster tiling"
Start prototyping, keep open to using other dbs.

[2011-08-04 17:44] robgur commented on #89
@walterj:  The DublinCore field specifications are here: http://dublincore.org/documents/dces/.  Some or all fields are likely usable but clearly this is not complete and applies mostly to source data rather than shapefile dbfs.  Lets talk more about this soon.

[2011-08-04 17:44] eightysteele opened #91 "Fusion Tables for layer metadata"
Start thinking about using Fusion Tables as the datasource for layer metadata.

[2011-08-05 06:05] eightysteele commented on #88
Changing issue label to Status-Started.

[2011-08-05 16:59] eightysteele commented on #89
@walterj, @robgur: When you have the list of fields, please specify which (if any) are required and which are optional.

[2011-08-05 17:06] robgur commented on #89
@walterj: do you want to begin developing a list of terms and optionality/requirement asap?  Given travel, I'd prefer to do this via email but could potentially Skype or IM (ugh) if necessary

[2011-08-05 17:15] eightysteele commented on #89
Sooner rather than later would be amazing. We're about to share the workflow spec doc related to issue #88.

[2011-08-05 17:24] eightysteele commented on #88
We've started the spec and added preliminary workflow description for polygonal species range maps. Open for comments: http://goo.gl/5CWut

[2011-08-06 16:00] eightysteele commented on #87
Created wiki page guideline for adding layers with Git:

https://github.com/andrewxhill/MOL/wiki/Adding-Layers-with-Git

Closing issue pending feedback.

[2011-08-06 16:00] #87 closed, assigned to eightysteele

[2011-08-06 17:33] eightysteele commented on #88
@robgur, @walterj: Updated spec with some implementation details - http://goo.gl/5CWut

[2011-08-06 17:35] robgur commented on #89
Waiting on Walter.

[2011-08-06 20:59] eightysteele commented on #88
@robgur, @walterj: Spec now contains workflows and implementation details for both polygonal species range maps and polygonal species lists. Let's review ASAP, and as soon as you have a start at the standard .dbf and metadata fields for both types (see issue #89) let us know.

[2011-08-06 20:59] #88 closed, assigned to eightysteele

[2011-08-06 21:11] eightysteele commented on #90
@robgur,@tucotuco

Good to find something that integrates with Mapnik, like PostGIS:
http://trac.mapnik.org/wiki/OptimizeRenderingWithPostGIS

But I'm also looking at some NoSQL options too. CouchDB has some spatial support (http://vmx.cx/cgi-bin/blog/index.cgi/category/CouchDB), as does Cassandra (http://www.readwriteweb.com/cloud/2011/02/video-simplegeo-cassandra.php) and also MongoDb (http://gi

[2011-08-08 01:00] eightysteele commented on #89
@walter just posted these docs:

Metadata:
https://spreadsheets.google.com/spreadsheet/ccc?key=0AhrTNFQ9YQ4FdFFITU81WG8xZVgxR1prSWdnVnV2amc#gid=0

DBF:
https://spreadsheets0.google.com/spreadsheet/ccc?key=0AhrTNFQ9YQ4FdE91SXdfT20ybFVxNXVQU2pteFpuVlE#gid=0

[2011-08-08 02:20] eightysteele commented on #89
@walter: Thanks! Indeed I meant @walterj.

[2011-08-08 17:20] eightysteele opened #92 "Assign FieldName to Dublin or Darwin Core"
In the `FieldName` column standardize value to Dublin or Darwin Core where possible for both schema docs. All names should have no spaces.

[2011-08-08 17:22] eightysteele opened #93 "Test metadata files for workflow"
@robgur, @walterj: For polygonal species range maps, we'll need example metadata and shapefile/dbf files for a single range collection:

[code]

See workflow doc for context:
https://docs.google.com/document/d/1JoQdEKzFfU-hJJJEXjKEfIf1mjRkc_XHIUDKJQ0w1t4

Also our schema docs:
https://spreadsheets0.google.com/spreadsheet/ccc?key=0AhrTNFQ9YQ4FdFFITU81WG8xZVgxR1prSWdnVnV2amc
https://spreadsheets.goo

[2011-08-09 09:27] tucotuco commented on #92
Both spreadsheets filled in for field and standard they come from.

[2011-08-09 14:24] eightysteele commented on #92
DBF `FieldName` values LGTM, but there are still some blank `FieldName` values in the MOLSourceFields doc: http://goo.gl/cB4ps

[2011-08-09 15:00] eightysteele commented on #92
@tucotuco: BTW, during the meeting I wrote down that we decided to just name `FieldName` the same as `Field` but without spaces (or something different if it's more readable).

[2011-08-09 16:39] tucotuco commented on #92
@walterj @robgur: I have filled in field names and the standards they come from (or not) for both spreadsheets. I have also added comments to a bunch of them, either with questions or recommendations. This could all use a review.

[2011-08-16 02:14] eightysteele commented on #89
Done! Closing issue.

[2011-08-16 02:14] #89 closed, assigned to walterj

[2011-08-16 02:15] eightysteele opened #94 "DBF with multiple polygons"
The `loader.py` script needs to support DBF files with multiple polygons.

[2011-08-16 02:16] eightysteele opened #95 "Create workflow wiki page"
A wiki page that describes the workflow process and how to work with the `loader.py` script.

[2011-08-16 02:17] eightysteele opened #96 "Layers search API"
Build layers search API that queries `LayerIndex` for `Layer` or `LayerPolygon` entities and returns them using a JSON representation.

[2011-08-16 02:19] eightysteele opened #97 "Job description for MoL programmer"
@walterj: Any additional details that you can provide about the new position would be great.

[2011-08-16 02:20] eightysteele opened #98 "Area display by color"
Design for coloring area polygon tiles by color.

[2011-08-16 02:40] eightysteele opened #99 "Only index designated fields"
The docs for collection fields and DBF fields now include an 'indexed' column that specifies if the field should be indexed in the datastore. Need to modify code for this.

[2011-08-16 03:52] eightysteele commented on #94
Done. Closing issue.

[2011-08-16 03:52] #94 closed, assigned to eightysteele

[2011-08-16 03:55] eightysteele commented on #99
Reassigned issue to @tucotuco.

[2011-08-16 04:00] eightysteele opened #100 "Layer model 2.0"
I goofed. Modeling _all_ `LayerPolygon` models as a `StructuredProperty` within a _single_ `LayerIndex` entity isn't going to scale. The reason is that an entity has a limit of 5000 index entries. A layer with 8000 polygons wouldn't work.

Need to modify workflow so that LayerIndex entity stores 1 polygon (so 8000 or more LayerIndex entities instead of 8000 polygons per LayerIndex), which scales a

[2011-08-16 05:52] eightysteele opened #101 "Fix taxonomy and layer_dbf JSON fields"
The `LayerIndex.json` text has invalid quoting for the taxonomy and layer_dbf fields.

[2011-08-16 07:04] eightysteele commented on #95
Here's a start: https://github.com/andrewxhill/MOL/wiki/Layer-Workflow--Prototype

@tucotuco: Requesting review.

[2011-08-16 07:04] #95 closed, assigned to eightysteele

[2011-08-18 04:02] #99 closed, assigned to tucotuco

[2011-08-18 04:02] #100 closed, assigned to tucotuco

[2011-08-18 18:08] tucotuco opened #102 "Fusion Tables for layer metadata structure"
@ Though it looks quite similar, this is distinct from issue 91. In this issue, we want to manage the metadata structure for layers (not the actual layer metadata) and sources in a Fusion table.  As of now this information is taken from the two Google spreadsheet docs (http://goo.gl/UkzJW and http://goo.gl/98r46). So, we need one mollayerconfig table with columns “type, name, alias, required, inde

[2011-08-18 18:10] eightysteele commented on #102
+1

[2011-08-19 06:29] tucotuco opened #103 "Bulkloaded sample layer data"
The 'scientificname' field in the sample data (from andrewxhill/MOL/master) is '99.00000000000' after loading to App Engine. Is this true to the sample data? A configuration problem? Or a bug in loader.py?

[2011-08-19 13:37] eightysteele commented on #103
Yeah, looks like a configuration problem maybe? Take a look at the sample config.yaml file on line 82:
https://github.com/andrewxhill/MOL/blob/master/workflow/mol-data/jetz/config.yaml#L82

It's mapping `scientificname` to the `BIOME` DBF field.

[2011-08-19 13:51] eightysteele commented on #102
Reassigned to @gaurav.

[2011-08-19 13:51] eightysteele commented on #103
Reassigned to @gaurav

[2011-08-21 07:52] gaurav commented on #102
I've had a first-go at this, and it's up at running at http://www.google.com/fusiontables/DataSource?snapid=S242622v0Cy (I think I'll need to give you all access to that page; make a request and I'll add you straightaway!). I'll send out an e-mail once I've double-checked that all the rows were copied over properly and completely. There are a lot of key values missing in certain columns (FieldName

[2011-08-21 08:31] gaurav commented on #103
Well, that was easy: once I removed the incorrect mapping to `BIOME`, loader.py correctly picked up the `scientificname` from jetz/config.yaml's `Collections: Required` section. Committed as @1f8169ce6bec17387e11f2d6a986237e773ece00 and closing this issue.

[2011-08-21 16:18] tucotuco commented on #103
Gaurav closed an Issue!  Ex! Good times ahead!

[2011-08-21 18:48] eightysteele commented on #103
The `scientificname` DBF column is actually a required field, so we don't want to delete it.

The `loader.py` script currently calculates the required and optional DBF fields using the source `config.yaml` file. Instead, it should calculate the required and optional fields from the Fusion Table. That way, if the source `config.yaml` file is incorrect (like the one above after deleting the `scienti

[2011-08-21 19:30] eightysteele commented on #102
Nice! @tucotuco can confirm, but I think the schema for the Fusion Table isn't quite right and should be:

`type,name,alias,indexed,required`

`type` - the field type (dbf or source)
`name` - the field name
`alias` - the short alias name for the `name`
`indexed` - a `y` if the field is indexed and empty if not
`required` - a `y` if the field is required and empty if not

[2011-08-21 19:42] gaurav commented on #103
Ah, okay! I assumed that the `Collections: Required` section in `config.yaml` were default values for individual columns in the DBF file (so that you didn't need to enter, say, a country for every row if all the rows in that dataset were from the same country). But instead: config.yaml should contain only layer-level metadata, while the DBF file should contain only shape-level metadata, right?

So

[2011-08-21 19:46] gaurav commented on #102
Ah, I knew I'd forgotten something! I didn't want to separate the column information from the basic configuration details, so I threw everything into the Fusion Table. But I meant to create a separate view with just the columns we need for this task. Google Fusion Tables is doing a great job of maintaining the view as a separate table in the system, but treating it as a view of the complete inform

[2011-08-21 21:01] eightysteele commented on #102
LGTM. Closing issue.

[2011-08-21 21:01] #102 closed, assigned to gaurav

[2011-08-21 21:12] eightysteele commented on #103
Lesse, so properties in `Collections:Required` should include `name` values from the Fusion Table (http://www.google.com/fusiontables/DataSource?dsrcid=1330559) where `type = source AND required = y`. Similarly, properties in `Collections:Optional` should include `name` columns where `type = source AND required != y`.

Then properties in `Collections:DBFMapping:Required` should include `name` valu

[2011-08-21 21:35] tucotuco commented on #102
Yes, LGTM too.  Nice job.

On Sun, Aug 21, 2011 at 2:01 PM, eightysteele
reply@reply.github.com
wrote:

[2011-08-23 05:14] gaurav commented on #103
Okay, this is starting to make sense to me! I'll get cracking on modifying `loader.py` tomorrow. Another quick question: does this mean [`workflow/metagen.py`](https://github.com/andrewxhill/MOL/blob/master/workflow/metagen.py) will also be deprecated in the future, or does it have another function which we will need to modify so that it accesses Google Fusion Tables directly?

[2011-08-24 17:43] tucotuco opened #104 "Unicode in config.yaml"
DictWriter is unable to writerow() for any line in config.yaml containing Unicode, giving the error "UnicodeEncodeError: 'ascii' codec can't encode character u'\u2122' in position 110: ordinal not in range(128)." Suspicion is that PyYaml's Config class is not Unicode-ready, so reading in Unicode won't work even if writing out Unicode using the code provided in unicodewriterhelper.py.

Bottom line,

[2011-08-24 17:53] tucotuco opened #105 "Case sensitivity in DBF column names"
When reading required and optional columns from csv files in source2csv() in loader.py, case is important, meaning the config.yaml column mappings must match the DBF column names exactly. It would be great to case insensitive matching.

@gaurav: Game for this one?

[2011-08-24 19:40] eightysteele commented on #103
Yeah, IMO, definitely want to modify `metagen.py` to hit FT directly. It's just super handy to have that script since it generates a bunch of code that changes when the FT changes.

[2011-08-24 20:52] tucotuco commented on #93
This issue has now been simplified. Need only check and amend https://github.com/andrewxhill/MOL/blob/master/workflow/mol-data/jetz/config.yaml as necessary.

[2011-08-25 07:13] gaurav commented on #105
I am! I'm trying to think of a cleverer way of doing it, but I can always just read the first line of the CSV file manually and then turn that into lowercase before handing it over to `csv.DictReader`. Unfortunately, @4135305db seems to have messed up `loader.py` on my computer to some extent. I'll open issues on that once I track down exactly what happened.

[2011-08-25 07:36] gaurav commented on #104
I'll look into it!

[2011-08-26 03:03] eightysteele commented on #105
@gaurav: What got messed up in @4135305? Do you have error output? @tucotuco and I should be able to narrow it down pretty quickly.

[2011-08-26 03:43] gaurav opened #106 "loader.py won't bulkload on my computer"
As of @60bad99afb5, my `loader.py` has two problems I can't figure out:
1. Running `python loader.py` (or `python loader.py --url=http://localhost:8080/_ah/remote_api --config_file=bulkload.yaml`) exits prematurely with the following error:

   INFO:root:All collection metadata saved to collection.csv.txt
   INFO:root:Collections in jetz: ['birds']
   INFO:root:Processing 1 layers in the birds col

[2011-08-26 03:44] gaurav commented on #105
Sorry for not being more detailed: since nobody else was complaining, I figured I could spend some time fixing the issue myself (and learning a bit more Python in the process!). Part of it was the bug I fixed in @9c0d1c2b659: loader.py on my computer wasn't `os.chdir`-ing to the correct directory when it started and, once I fixed that, it wasn't getting back to the directory it started in, so it w

[2011-08-26 03:52] eightysteele commented on #106
Quick sanity check: What's your OS and Python version?

[2011-08-26 03:53] eightysteele commented on #106
More sanity checking... I'm assuming you have the app running on `http://localhost:8080` and that you're working off latest code in the `master` branch?

[2011-08-26 04:01] eightysteele commented on #106
Just pulled latest from master and I can reproduce. @tucotuco: Bump..

[2011-08-26 04:04] gaurav commented on #106
OS: MacOS X 10.6.8
Python: Python 2.6.1

Nope, I don't have the app running at all - I was hoping for some sort of "could not connect to the server" message. I just tried it again with the app on; I got exactly the same result I reported above.

Yep, I'm on the latest code: @60bad99afb5e.

[2011-08-26 04:22] eightysteele commented on #106
With the latest commit @1bb1404 you can run it via `./loader.py -d` which completes as a dry run without bulkloading. If you attempt to bulkload, it currently fails since `polygonid` isn't making it into `collection.polygons.json.txt`. Looking into that now.

[2011-08-26 05:07] eightysteele commented on #106
Almost there. In @1bb1404 things are working except for that missing `polygonid` for `iucn/mammals`. Looking into that right now with @tucotuco.

[2011-08-26 05:58] eightysteele commented on #106
Fixed and pushed. Can @tucotuco and @gaurav confirm?

[2011-08-26 06:14] tucotuco commented on #106
Confirmed.  jetz and iucn loading to local App Engine and maintaining
polygonids.

On Thu, Aug 25, 2011 at 10:58 PM, eightysteele
reply@reply.github.com
wrote:

[2011-08-26 06:15] eightysteele commented on #106
Closing issue, pending feedback from @gaurav.

[2011-08-26 06:15] #106 closed, assigned to nobody

[2011-08-26 17:18] gaurav commented on #106
Works for me! Thanks for fixing this!

[2011-08-26 17:49] gaurav opened #107 "Moving bulkloader files into their own directory"
I'd really like to see the bulkloader log and progress files written into their own directory; that'll keep the source directory a little cleaner and would make it easier to write those logs into a standard location (/var/log/bulkloader?) in the future. It looks like a pretty easy change, so I'll do it once I've cleared my outstanding issues.

[2011-08-26 18:12] gaurav commented on #103
Quick question: do we need to check whether 'optional' fields are always present? I can't imagine it'd be a problem if a `Collection: Optional` field is missing from `config.yaml` (since it is optional anyway), but if a `Collections:DBFMapping:Optional` field is missing, it's possible we'll lose information if (for whatever reason) that field is present in the DBF file.

I'm pretty sure the answer

[2011-08-26 18:21] eightysteele commented on #103
+1

[2011-08-27 01:08] eightysteele commented on #104
@gaurav: I wrote a UnicodeDictReader and UnicodeDictWriter based on examples in the Python docs. Will something like this help? https://gist.github.com/1174811

[2011-08-27 01:14] tucotuco commented on #104
So, this code is pretty much already in
workflow/mol-data/unicodewriterhelper.py  May want to just commit any
changes you have there.

On Fri, Aug 26, 2011 at 6:08 PM, eightysteele
reply@reply.github.com
wrote:

[2011-08-27 01:33] eightysteele commented on #104
Lesse, couple things there. The `UnicodeReader.next()` is returning lists instead of dictionaries and `UnicodeWriter.writerow` is takes a list instead of a dictionary. I think what we want here is DictWriter/DictReader like behavior?

[2011-08-27 03:15] tucotuco commented on #104
Pushed UnicodeReader/Writer as adapted by Aaron to mol-data replacing earlier version that read and wrote lists rather than dictionaries. @7e39087 @tucotuco Needs incorporation in loader.py and testing.

[2011-08-27 04:57] gaurav commented on #103
Okay, I'm basically done with this: you can take a sneak peek at https://github.com/gaurav/MapOfLife if you want. I need to rewrite all the current configuration files so they match up with the latest spec on Fusion Tables, and then I'll be ready to push to the master. I'll have that done tomorrow. It sounds like you two have fixed up most of the Unicode issues already, so I'll integrate and test

[2011-08-27 05:51] eightysteele commented on #103
I think `metagen.py` might do this for you?

What you thinking @tucotuco?

[2011-08-27 06:03] tucotuco commented on #103
I think there there will be a whole lot of validation work when the controlled vocabularies come into play. Maybe wait for that and do it all together? At least wait until we've done a review and testing following Walter's latest changes?

[2011-08-28 00:41] tucotuco opened #108 "Decide how to manage controlled vocabularies"
An early preference would be a FusionTable (FT) with columns:

term - the name of the field that has the controlled vocabulary
value - the field in which to put a "valid" value of the term
definition - the meaning of the value for the term

So, represented as csv, a FT might have the following entries:
term,value,definition
origin,1,native,occurs naturally without having been introduced
origin,2,r

[2011-08-29 21:03] gaurav commented on #103
Okay, I think I've gotten the check-field-names-from-Fusion-Table feature in as of @c51e27beb66f. I've also modified metagen.py so that it uses the Fusion Table instead of the local CSV files when generating its output. Unfortunately, LayerIndex bulkload has stalled again, probably because bulkload.yaml and bulkload_helper.py need to be updated. I'll open a new issue for that - this one is carryin

[2011-08-29 21:03] #103 closed, assigned to gaurav

[2011-08-29 21:10] gaurav opened #109 "Bulkloading 'LayerIndex' fails: bulkload* files need update?"
Bulkloading to my local App Engine instance is working fine for the 'Layer' data, but not the 'LayerIndex' data. Additionally, I get the following error when running `loader.py`': https://gist.github.com/1179412

I suspect this is because bulkload.yaml and bulkload_helper.py haven't been properly updated for the new field list entering our system. I'd be willing to trust metagen.py's new version o

[2011-08-29 23:46] gaurav commented on #108
I like this. Do we want a name for each value as well ("native", "reintroduced", etc.) or would it be more useful to provide the complete definition to the user when they're entering data into the system or searching?

[2011-08-30 05:15] eightysteele commented on #109
From the gist:

[code]

So the bulkloader is either not finding a `polygonid` column in the CSV file or the value for the `polygonid` column is the empty string. Can you confirm that `polygonid` is actually in the CSV file? If not, we'll have to dig into `loader.py` to see what's up.

[2011-08-30 05:34] eightysteele commented on #109
Sooooo, ha, is `polygonid` no longer a required DBF field? If not, and if it's not mapped in `config.yaml`, then it won't show up in the CSV file, and you'll get the error. If it's no longer required by the user, then we'll need `loader.py` to auto-gen it since it is part of the `LayerIndex` key. Hopefully that make sense?

[2011-08-30 05:46] tucotuco commented on #108
Hmm. My example leaves a little to be desired and would lead to confusion. I really did mean that there would be just three fields, but the third field, with the definitions, contains commas, so those should have been in quotes. Don't know if a single word version is necessary or not. It sort of depands on what we want to do about searching this field. If the code suffice, then the word versions a

[2011-09-01 23:29] gaurav commented on #109
That was it! @0055e6c fixes this problem for now. Two quick questions before I close this issue:
1. Why do we need both an 'areaid' and a 'polygonid' field? (I checked: the bulkloader needs both fields to be defined for it to work). What is the distinction between the two?
2. Do we expect the 'polygonid/areaid' fields to be populated automatically by ArcGIS or another GIS software? If so, why are

[2011-09-01 23:35] eightysteele commented on #109
The `areaid` is an area the contains multiple polygons identified by `polygonid`. So it's a way of relating all the polygons that belong to an area. Does that make sense?

Not sure,. @robgur? @walterj?

[2011-09-01 23:59] gaurav commented on #105
Fixed in @2b86b16 and closing. Please let me know if you notice any problems with this in the future!

[2011-09-01 23:59] #105 closed, assigned to gaurav

[2011-09-02 00:02] gaurav commented on #109
Okay, the `areaid`/`polygonid` distinction makes sense to me now. I'll turn `polygonid` back into a required field then.

[2011-09-02 01:43] eightysteele commented on #109
+1

[2011-09-08 15:26] tucotuco opened #110 "config.yaml has unexpected fields"
After a fresh install on Windows, running loader.py shows errors in the config.yaml file provided.

C:\Projects\MOL\workflow\mol-data>loader.py --url=http://localhost:8080/_ah/remote_api --config_file=bulkload.yaml
INFO:root:Processing source directories: ['iucn', 'jetz']

ERROR:root:  Unexpected fields found in section 'Collections:Required':
collectionorigin, collectionpresence, collectionseason

[2011-09-08 15:28] gaurav commented on #110
Yup, I'll bring the `config.yaml`s into compliance once Rob and I have finalized the fields spec. For now, you can run `loader.py -V` to turn off the validation, for instance if you just need to test the bulk upload. I'll add that note to the validation errors also.

[2011-09-08 16:30] tucotuco opened #111 "File Permission issue creating bulkload csv files"
On Windows, running loader.py throws an error creating csv files:

C:\Projects\MOL\workflow\mol-data>loader.py --url=http://localhost:8080/_ah/remo
te_api --config_file=bulkload.yaml -V
INFO:root:Processing source directories: ['iucn', 'jetz']
INFO:root:Collections in iucn: ['mammals', 'amphibians']
INFO:root:Processing 1 layers in the iucn/mammals
INFO:root:Extracting DBF fields from abditomys_la

[2011-09-12 21:56] gaurav opened #112 "Support for Python 2.5?"
Rob has made an old but fast PowerPC Mac available for me to work on Map of Life. I've managed to get [loader.py](https://github.com/gaurav/MapOfLife/blob/for-python-2.5/workflow/mol-data/loader.py) working on Python 2.5 on PowerPC, which is pretty cool, although of course the code is less elegant.

So my question is: do we want to support Python 2.5, or do we want to establish Python 2.6 as the m

[2011-09-12 22:32] tucotuco commented on #112
Code has been written with 2.6 as the target. We've had to do a couple of retro-active fixes to hit that target after developing in 2.7. I think we don't won't to expend effort to go backwards if there are incompatibilities. Did you have to do anything to "get loader.py working" in 2.5?

[2011-09-12 22:42] gaurav commented on #112
Yup; it was entirely code that I'd added myself to `loader.py`. Check out @ee813c7f40 and @8b22eb3c66 for the changes I had to make. I could precisely install Python 2.6 on my work Mac, so we can make sure we stay workable in 2.6, if you think that's a good idea.

[2011-09-12 22:57] robgur commented on #112
Following the discussion on github late in the evening here in Brussels.  Simply put, I agree we should not expend effort on backwards compatibility to 2.5 but stay in current in >= 2.6

[2011-09-12 23:15] gaurav commented on #112
Sounds like we've got consensus - thanks everybody! I'll close down this issue now.

[2011-09-12 23:15] #112 closed, assigned to robgur

[2011-09-12 23:24] gaurav commented on #111
Hmm, I can't reproduce this on our Windows 7 computer here. John: Which version of Windows are you using? Did you use Git to clone the repository to your hard drive, or did you download the source as a tarball/zip from Github?

[2011-09-12 23:37] tucotuco opened #113 "Use cases for environmental layers"
Create a  wiki page for clear and succinct use cases for environmental layers in MoL.

[2011-09-12 23:50] tucotuco commented on #111
That was on a Windows XP machine (not currently in hand). I cloned from GitHub. Since you were unable to reproduce it, let me do a git pull and see what the current status is before you spend any further time on it.

[2011-09-13 03:23] tucotuco commented on #111
OK, I pulled the latest revision and tried running

loader.py --url=http://localhost:8080/_ah/remote_api --config_file=bulkload.yaml -V

and there remains a problem. A new directory iucn/mammals/abditomys_latidens.shp.csv gets created with a file abditomys_latidens.csv inside.  Very strange.

[2011-09-13 03:30] gaurav commented on #111
Huh! That is odd. I'll try to reproduce that tomorrow.

[2011-09-13 03:35] gaurav commented on #109
I'm closing this issue now; I'm not sure we know enough to answer my question about how to work with non-shapefile inputs. We can cross that bridge once we get to it.

[2011-09-13 03:35] #109 closed, assigned to gaurav

[2011-09-13 06:03] eightysteele commented on #112
Just a quick comment - Python 2.5 is what App Engine runtime supports on dev_server and production. That changes in December to 2.7, so probably all good to focus on 2.6 and above.

[2011-09-15 00:46] gaurav commented on #110
Quick update: I've added the note to the validation option as promised. I've been working on bringing the `config.yaml`s into compliance, but that requires getting halfway to the new config.yaml format we discussed a few weeks ago (since the current field spec specifically expects fields to work as per the new format, i.e. with a single set of fields which can be set at either the shapefile level

[2011-09-15 01:35] gaurav commented on #111
Hmm, I still can't reproduce it (at @75f02f2feb21). I'm on Windows 7 Home Premium with Python 2.7.2. I thought that perhaps it was something to do with spaces in the folder path, so I tried out the command which failed for you in both `C:\Users\Gaurav\Desktop\Code\MOL` and `C:\Users\Gaurav\Desktop\Folder With Spaces In It\Map of Life`, but both worked perfectly, and definitely without a new folder

[2011-09-17 00:45] gaurav commented on #107
Done as of @b18ef7d6076d73! Log files are now written into the `logs` directory, and progress files into `progress/`. I notice that `loader.yaml` assumes that every directory in the `mol-data` directory is a data directory; I've left this behavior in, but I remove `logs` and `progress` right after `loader.py` scans path for directories. I'm not sure if that's the most elegant way to do it, but I t

[2011-09-17 00:45] #107 closed, assigned to gaurav

[2011-09-17 22:31] gaurav commented on #104
I tweaked the UnicodeDictWriter and got it to work (as of @e269cc95). The collection.csv.txt is now being correctly written in UTF-8 (as verified by Vim and TextEdit). Unfortunately, this leads to two odds pieces of behavior: JSON fields in the database into which unicode is being written have the unicode as ' \uDDDD' instead of the actual unicode character, and attempting to set field values to u

[2011-09-17 23:17] tucotuco commented on #104
Fair enough. You're in there and familiar with it now. It's yours.

[2011-09-18 00:57] gaurav commented on #110
Okay, I _think_ this is fixed as of @1770a58318. I've glanced through the uploaded data and it looks okay to me, but I won't merge it into master until Monday, when I'll have had a chance to really make sure the DBF fields are being mapped correctly. But I'm pretty sure most things are working okay!

Because of the constraints of the field listings (which involves merging "Source" fields and "DBF"

[2011-09-18 01:51] tucotuco commented on #110
+1 It would be nice to have that all wrapped up.

[2011-09-19 19:18] gaurav commented on #110
Okay, mapping and bulkloading are working for me as of @83c19169f71c. I'll close this issue and open another one for the new `config.yaml` file format.

[2011-09-19 19:18] #110 closed, assigned to gaurav

[2011-09-20 00:18] gaurav commented on #104
I think I've got this nailed as of @634e12ef8a7. There's been a lot of changes to a lot of files, though (loader.py, metagen.py, config.yaml), so it's likely other bugs will show up as a result of these changes. If/when they do, please reopen this bug or file a new one!

[2011-09-20 00:18] #104 closed, assigned to gaurav

[2011-09-20 00:42] gaurav opened #114 "Update config.yaml format for maximum flexibility"
As per John's suggestion on September 1st, 2011, we'd like to move to a more complex format for `config.yaml`, so that we have as much flexibility as possible in this file going forward. His proposed format is as follows:

[code]

(from the "Map of Life - Meeting Notes" shared Google doc)

I'll be working on defining the schema for this new format in the next few days, and then - once we have a fo

[2011-09-23 16:14] codyschank commented on #111
Tested on XP machine today and successfully uploaded shapefiles with loader.py.

[2011-09-23 16:16] tucotuco commented on #111
OK, let's call it a corner case on Tuco's wonky XP machine and let it go? Think there are more valuable things to do than chase this one further.

[2011-09-23 16:16] #111 closed, assigned to gaurav

[2011-09-26 20:51] gaurav commented on #17
Is metadata sorted out (for now), with the config.yaml/DBF mapping system? Or is this issue targeting annotations on the map, and we'll have to reconsider this later on?

[2011-09-26 20:58] gaurav commented on #54
I think we've fully moved the backend to its own server now?

[2011-09-26 21:06] gaurav commented on #58
I think this is now a two click process ("All" will select all applicable layers, and then "Map selected layers" will add them to the map). Is this good enough? Or do we really need one button that will push everything up onto the screen at once?

[2011-09-26 21:08] gaurav commented on #101
There isn't a `LayerIndex.json` file in the repository AFAICT. Has it been renamed to something else?

[2011-09-26 21:13] gaurav commented on #93
What else remains to be done for this issue?

[2011-09-26 21:15] gaurav commented on #92
I'll have a look at the remaining field names in the Fusion Table this week, and see if we can assign them to DC or DwC.

[2011-09-26 21:21] gaurav commented on #90
I remember we were discussing setting up PostGIS a few weeks ago in the phone conversations. Does anybody know what the status of that is? One of my labmates here has some experience with PostGIS, so he might be helpful when we need to do this.

[2011-09-26 21:28] gaurav commented on #57
Note that as per issue #83, we want ecoregion layers to start off below the range maps, as this makes visual sense, although we also want to allow users to rearrange them as necessary.

[2011-09-26 21:44] gaurav opened #115 "Sandbox needs a "Browser is busy" notification"
At the moment, there is no immediate feedback of success once the user starts time-consuming tasks, such as adding map layers. I think a little "rendering map X ..." status message in the lower right corner of the window, which goes away once all active tasks have finished, might be useful to have.

[2011-09-26 22:15] walterj commented on #57
Hi Gaurav, Great to see this activity. Do have a look again at the latest ALA spatial portal. We will be with Lee Belbin tomorrow. Regards, Walter

On Sep 26, 2011, at 17:28, "Gaurav Vaidya" reply@reply.github.com wrote:

[2011-09-27 21:57] gaurav commented on #57
Walter: thats cool! Yes, I'll definitely keep an eye on http://spatial.ala.org.au/ - I like MoL's minimalist interface better, but I can definitely see interesting ideas that we can use.

[2011-09-29 21:57] gaurav opened #116 "Coloring polygons based on layer metadata"
We'd eventually like to see layer-based metadata being used to paint polygons on the display: for instance, dividing range maps by their Origin type.

[2011-09-29 22:20] gaurav opened #117 "Let users choose colors to view different layers"
At the moment, MoL uses several standard colors to display layers. We want an interface to allow users to pick colors for layers, so that different layers can be rendered in different colors for easy distinguishability.

[2011-10-03 21:13] gaurav opened #118 "Load metadata into PostgreSQL for use by the tiler"
We need to load the metadata into PostgreSQL so that it can be used by the tiler to visualize the layers using metadata values. This should happen as part of usual `loader.py` behavior, and should happen _before_ we upload to Google App Engine, so that the App Engine never knows about layers which the tiler doesn't know about.

The simplest way to do it for now either be (1) as a single field in P

[2011-10-04 04:17] eightysteele opened #119 "Add layers from CartoDB"
UI support for adding layers stored in CartoDB.

[2011-10-05 19:52] gaurav commented on #118
I'm mostly done with this. I eventually opted to use COPY, since I didn't have to worry about field names as long as the field names in the CSV file and in the database stay in sync, which -- thanks to validation and the new get-db-schema.py script -- shouldn't be too hard.

At the moment, my code (@d1ce6ba) has two flaws:
1. It adds new data to the table as new rows, so across multiple runs, it's

[2011-10-06 01:41] gaurav opened #120 "MOL-calculated fields need to be calculated"
There are two types of MOL-calculated fields according to the field specification [1] at present: fields like "contributor" and "format" will be filled in by the publisher frontend (depending on the format of the file uploaded and the user who actually uploaded that file into our system), and fields such as "maxx", "maxy", and "medianregionsperspecies", which will probably be calculated at some po

[2011-10-06 01:47] gaurav opened #121 "Use the field specification to set the datatypes for metadata fields in the database"
At the moment, the metadata is stored in two places: on the backend in a PostgreSQL database, and on the frontend in the Google App Engine datastore. For conveniences' sake, I've currently set up all the fields as TEXT fields. However, it won't take too long to use the 'Type' column in the field specification [1] to set up these types instead.

Since indexed TEXT fields will probably/hopefully be

[2011-10-06 01:55] gaurav commented on #118
I just had a discussion with @eightysteele about this, and he suggested:
1. We add fields for provider, collection and filename into the field specification and thus into the metadata database, since they'll be useful for checking where the data originated from. This will require 'injecting' those fields into `config.yaml` at some point (since `loader.py` knows where they are already, it seems a s

[2011-10-06 04:25] tucotuco commented on #120
It's not entirely clear to me what you're proposing here. "Leaving
fields out of the database" suggests to me that you would change the
structure. Perhaps you mean that you would not populate these fields
in the metadata database for now, and therefore not enforce the
constraint for those that are required?

Even so, I'm confused. The requirements exist with or without a
publisher front end, right

[2011-10-06 04:28] tucotuco commented on #121
It's not so much the speed I would worry about with indexed fields, but rather the sorting characteristics that differ between text and numeric data types. The results of queries would be affected. Why not do it correctly up front? Curious, not annoyed. ;-)

[2011-10-06 16:32] tucotuco commented on #92
I've got a view open to look at this and could bang it out quickly. I see some terms that say they have MoL as an origin (e.g, Common Name) that exist in DwC (e.g., as vernacularName), and others that already exist in DC (e.g., rights). Will do if you want me to.

[2011-10-06 16:36] tucotuco commented on #93
Just need consensus from the testers (me, Gaurav, Cody) that the workflow works. The only issue I know about that remains was the one on my XP, which we decided was a corner case not worth sleuthing.

[2011-10-06 16:44] tucotuco commented on #101
Fairly certain this no longer exists. Closing.

[2011-10-06 16:44] #101 closed, assigned to tucotuco

[2011-10-06 16:46] tucotuco commented on #17
I think that metadata has progressed well beyond the discussions in this thread. Seeking consensus to close the issue.

[2011-10-06 18:54] gaurav commented on #120
On 5 October 2011 22:25, John Wieczorek
reply@reply.github.com
wrote:

I'm in two minds over the calculated fields. We can just add them into
the `config.yaml` files for now, but I really like that the
`config.yaml` file looks essentially as it will at MoL release 1.0
(either by the publisher front end or by a desktop application that
automatically packages collections for upload to MoL). That mea

[2011-10-06 18:57] gaurav commented on #121
I'm worried about downstream problems (having to modify metadata in the fields because it won't fit the spec type, having to pick spec types for tricky fields), but you're right, this won't take more than 30-45 minutes to get squared away. I'll probably take a bash at it today.

[2011-10-06 19:07] gaurav commented on #92
@tucotuco Sure, thanks! I'm sure you'll be able to go through this much faster than I would, and it'd be great to have feedback on how the FusionTable/validation/metadata database interactions are working. Feel free to reassign it back to me if you end up not having the time. So far, I'm treating this as another bug that can wait until after TDWG.

[2011-10-06 22:42] tucotuco commented on #92
Done.

[2011-10-06 22:42] #92 closed, assigned to tucotuco

[2011-10-07 07:49] gaurav commented on #92
The `config.yaml` files and `bulkload_helper.py` now validate to @tucotuco's new field specification. Thanks, @tucotuco! This bug is sorted.

[2011-10-07 08:12] gaurav commented on #121
This is essentially done as per @56f81b4, but I'll keep it in the same branch as issue #118 and leave this issue open until the metadata database is working smoothly. Most of the types ended up as TEXT anyway, except for a few DATEs, INTEGERs and SHORTINTs. But this will be a good foundation for more complex data types for metadata database fields, if necessary.

[2011-10-07 20:26] tucotuco commented on #92
+1

[2011-10-09 01:46] #91 closed, assigned to tucotuco

[2011-10-10 20:01] gaurav opened #122 "Merge PostgreSQL metadata, geometry and Google App Engine metadata exports"
We're going to clean up our bulkloading process and set it up as:
1. For each shapefile:
   1. Create metadata CSV (for ALL rows in this shapefile)
   2. Bulkload to PostgreSQL (by doing a COPY FROM CSV ...). This will give the rows unique 'id's.
   3. Bulkload to Google App Engine  (by doing a single COPY TO CSV .. WHERE prov=p, coll=c, filename=f)
      1. Run shp2pgis.sql on shapefile -> temp t

[2011-10-10 20:17] gaurav commented on #122
Moved to https://github.com/MapofLife/MOL/issues/1

[2011-10-10 20:17] #122 closed, assigned to gaurav

[2011-10-11 21:45] tucotuco commented on #17
Closing with Dan's approval. ;-)

[2011-10-11 21:45] #17 closed, assigned to andrewxhill

[2011-10-12 21:13] gaurav commented on #118
As of @ce6c4ab061, `loader.py` will delete the last collection before uploading a new collection. So we've met every criteraia of this issue _except_ indexing and row counts. I'll work on that once the GIS integration happens.

[2012-08-04 04:54] #52 closed, assigned to eightysteele

[2012-08-04 04:55] #56 closed, assigned to eightysteele

[2012-08-04 04:55] #62 closed, assigned to eightysteele

[2012-08-04 04:55] #83 closed, assigned to eightysteele

[2012-08-04 04:56] #82 closed, assigned to eightysteele

[2012-08-04 04:56] #81 closed, assigned to eightysteele

[2012-08-04 04:59] #96 closed, assigned to eightysteele

[2012-08-04 04:59] #97 closed, assigned to eightysteele

[2016-06-16 15:15] andrewxhill commented on #36
@eightysteele good to close?

[2016-06-16 15:15] #42 closed, assigned to andrewxhill

[2016-06-16 16:11] jmalczyk commented on #36
Yeah might be time to close this one :)

[2016-06-16 16:53] eightysteele commented on #36
boom, iterating FAST. closing issue.

[2016-06-16 16:53] #36 closed, assigned to andrewxhill